<section class="container">
    <div class="row">
        <div class="d-none d-lg-block col-3">
            <div class="row">
                <div class="col bg-4 text-center">
                    <img class="img-fluid mt-4" width="95px" height="95px" src="/assets/img/asesori-logo-negative.png">

                    <ul class="timeline text-left text-uppercase tittle-19 color-6">
                        <li class="primero">
                            <summary [routerLink]="personal_data ? '/credit/results/identification' : null" [ngClass]="{'pointer color-1': personal_data, 'not-allowed':!personal_data}" class="tittle-20">Identificación</summary>
                            <p class="mt-4" [routerLink]="personal_data ? '/credit/results/identification' : null" [ngClass]="{'pointer color-1': personal_data, 'not-allowed':!personal_data}">datos personales
                            </p>
                            <p class="color-1">domicilio actual</p>
                            <p [routerLink]="contact_data ? '/credit/results/identification/contact' : null" [ngClass]="{'pointer color-1': contact_data, 'not-allowed':!contact_data}">contacto</p>
                        </li>
                        <li class="segundo">
                            <summary [routerLink]="labor_data ? '/credit/results/economic' : null" [ngClass]="{'pointer color-1': labor_data, 'not-allowed':!labor_data}">Información económica
                            </summary>
                            <p class="mt-4" [routerLink]="labor_data ? '/credit/results/economic/labor' : null" [ngClass]="{'pointer color-1': labor_data, 'not-allowed':!labor_data}">situación laboral
                            </p>
                            <p [routerLink]="financial_data ? '/credit/results/economic/financial' : null" [ngClass]="{'pointer color-1': financial_data, 'not-allowed':!financial_data}">situación financiera
                            </p>
                            <p [routerLink]="economic_data ? '/credit/results/economic/economic' : null" [ngClass]="{'pointer color-1': economic_data, 'not-allowed':!economic_data}">datos económicos
                            </p>
                        </li>
                        <li class="tercero">
                            <summary [routerLink]="(personal_data && location_data && contact_data && economic_data && labor_data && financial_data) ? '/credit/results/my-credit' : null" [ngClass]="{'pointer color-1': (personal_data && location_data && contact_data && economic_data && labor_data && financial_data), 'not-allowed':!(personal_data && location_data && contact_data && economic_data && labor_data && financial_data)}">
                                Mi crédito</summary>
                            <p class="mt-4" [routerLink]="(personal_data && location_data && contact_data && economic_data && labor_data && financial_data) ? '/credit/results/my-credit/summary' : null" [ngClass]="{'pointer color-1': (personal_data && location_data && contact_data && economic_data && labor_data && financial_data), 'not-allowed':!(personal_data && location_data && contact_data && economic_data && labor_data && financial_data)}">
                                solicitud</p>
                        </li>
                        <li class="cuarto">
                            <summary>Solicitud lista</summary>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3 mx-1">
                <div class="col-12">
                    <p class="tittle-10">Tienes la seguridad y confianza</p>
                    <p class="text-light-14">Para nosotros es primordial brindarte toda la seguridad posible y confianza que necesitas durante todo el proceso. Estamos avalados por</p>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-austro-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-biess-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-bolivariano-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-dinnersClub-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-guayaquil-188x100.png">
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9">

            <div class="d-none d-sm-flex row mx-2 mx-md-0 justify-content-sm-end pt-4">
                <div class="col-9 col-sm-3 px-md-0">
                    <progressbar [value]="percentage"></progressbar>
                </div>
                <div class="col-1 col-sm-1 text-right">
                    {{percentage}}%
                </div>
            </div>

            <div class="row mx-2 mx-md-0 justify-content-center pt-4">

                <div class="col-12 col-lg-8">

                    <h2 class="tittle-1 mb-2 d-none d-sm-block">Identificación</h2>
                    <p class="tittle-7 text-uppercase d-sm-none d-block color-1">Identificación</p>

                    <div class="row d-sm-none d-flex py-3">
                        <div class="col-10">
                            <progressbar [value]="percentage"></progressbar>
                        </div>
                        <div class="col-2 text-right">
                            {{percentage}}%
                        </div>
                    </div>

                    <p class="text-light-14 d-none d-sm-block">Con Asesori puedes acceder a créditos en varios Bancos, Mutualistas o Cooperativas de forma más fácil y segura, por lo que necesitamos identicarte. </p>

                    <div class="row pt-4 pb-0 pb-sm-3 justify-content-center">
                        <div class="col-10 col-sm-4 d-none d-sm-block">
                            <summary [routerLink]="personal_data ? '/credit/results/identification/personal' : null" [ngClass]="{'pointer': personal_data, 'not-allowed':!personal_data}" class="text-center text-sm-left tittle-8 color-7">Datos personales</summary>
                        </div>
                        <div class="col-10 col-sm-4">
                            <p class="tittle-8 color-1 text-center text-sm-left">Domicilio actual</p>
                            <div class="mt-4 d-none d-sm-block separator"></div>
                        </div>
                        <div class="col-10 col-sm-4 d-none d-sm-block">
                            <summary [routerLink]="contact_data ? '/credit/results/identification/contact' : null" [ngClass]="{'pointer': contact_data, 'not-allowed':!contact_data}" class="tittle-8 text-center text-sm-left color-7">Contacto</summary>
                        </div>
                    </div>

                    <form [formGroup]="addressForm">

                        <div class="row my-0 my-md-4">
                            <div class="col-12 col-md-6 my-md-0 my-4">
                                <ng-select appearance="outline" class="custom" [items]="provinces" placeholder="provincia*" formControlName="province" (change)="changeProvince($event)" [searchable]="true" bindLabel="name" [clearable]="false">
                                </ng-select>
                                <div *ngIf="isFieldValidaddressForm('province')" class="invalid-select">
                                    <span>Seleccione una provincia!</span>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <ng-select appearance="outline" class="custom" [items]="cities" placeholder="ciudad*" formControlName="city" [searchable]="true" bindLabel="name" [clearable]="false" required [ngClass]="{ 'is-invalid': isFieldValidaddressForm('city')}">
                                </ng-select>
                                <div *ngIf="isFieldValidaddressForm('city')" class="invalid-select">
                                    <span>Seleccione una ciudad!</span>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-12">

                                <div class="position-relative">
                                    <input class="floating-input form-control text-uppercase" type="text" [attr.disabled]="hasAddress ? '' : null" formControlName="address" required placeholder=" " [ngClass]="{ 'is-invalid': isFieldValidaddressForm('address')}">
                                    <label class="floating-label">dirección</label>
                                    <div *ngIf="isFieldValidaddressForm('address')" class="invalid-feedback">
                                        <span>Ingrese su dirección!</span>
                                    </div>
                                </div>

                                <!-- <div class="position-relative">
                                    <input type="text" [attr.disabled]="hasAddress ? '' : null" formControlName="address" class="form-control text-uppercase" required [ngClass]="{ 'is-invalid': isFieldValidaddressForm('address')}">
                                    <span class="floating-label text-uppercase">dirección*</span>
                                    <div *ngIf="isFieldValidaddressForm('address')" class="invalid-feedback">
                                        <span>Ingrese su dirección!</span>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-12">
                                <!-- <div class="position-relative">
                                    <input type="text" formControlName="reference" class="form-control text-uppercase">
                                    <span class="floating-label text-uppercase">referencia</span>
                                </div> -->
                                <div class="position-relative">
                                    <input class="floating-input form-control text-uppercase" type="text" formControlName="reference" placeholder=" ">
                                    <label class="floating-label">referencia</label>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-12">
                                <div class="position-relative">
                                    <input class="floating-input form-control text-uppercase" type="text" formControlName="sector" placeholder=" ">
                                    <label class="floating-label">sector</label>
                                </div>
                            </div>
                        </div>

                        <div class="row my-4 justify-content-center">
                            <div class="col-12 col-md-4">
                                <button type="button" [disabled]="!addressForm.valid" class="btn button btn-block" (click)="onSubmitaddressForm()">CONTINUAR</button>
                            </div>
                        </div>

                        <!-- <div class="row my-4 justify-content-between">
                            <div class="col-4 d-none d-sm-block">
                                <button type="button" class="btn button btn-block">REGRESAR</button>
                            </div>
                            <div class="col-4 d-block d-sm-none">
                                <button type="button" class="btn button btn-block">&lt;</button>
                            </div>
                            <div class="col-4 d-none d-sm-block">
                                <button type="button" [disabled]="!addressForm.valid" class="btn button btn-block" (click)="onSubmitaddressForm()">CONTINUAR</button>
                            </div>
                            <div class="col-4 d-block d-sm-none">
                                <button type="button" [disabled]="!addressForm.valid" class="btn button btn-block" (click)="onSubmitaddressForm()">&gt;</button>
                            </div>
                        </div> -->
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>