<section class="container">
    <div class="row bg-img mx-0">

        <div class="col-12 col-md-6 bg-0 pl-5 pl-md-2 pr-5 py-0 py-md-5" *ngIf="sectionLogin">

            <div class="row justify-content-center">
                <div class="col-4 d-block d-md-none text-center">
                    <img src="/assets/img/asesori-logo-negative.png" width="90px" height="90px" class="" alt="ASESORI" routerLink="/homepage">
                </div>
            </div>

            <p class="tittle-8 text-uppercase pt-4">Iniciar sesión</p>
            <p class="text-light-14">Ingresa la información registrada en tu formulario de solicitud.</p>

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

                <div class="position-relative mt-4">
                    <input type="email" formControlName="usernameOrEmail" class="floating-input form-control" placeholder=" " required [ngClass]="{ 'is-invalid': form.usernameOrEmail.touched && form.usernameOrEmail.errors }">
                    <label class="floating-label">correo electrónico*</label>
                    <div *ngIf="form.usernameOrEmail.touched && form.usernameOrEmail.errors" class="invalid-feedback">
                        <div *ngIf="form.usernameOrEmail.errors.required">Porfavor ingrese su correo!</div>
                        <div *ngIf="form.usernameOrEmail.errors.email">Porfavor un correo válido!</div>
                    </div>
                </div>
                <div class="position-relative mt-4">
                    <input [type]="show ? 'text' : 'password'" type="password" formControlName="password" class="floating-input form-control" placeholder=" " required [ngClass]="{ 'is-invalid': form.password.touched && form.password.errors }">
                    <a *ngIf="!show" class="ptxt tittle-14 text-uppercase" (click)="password()">Mostrar</a>
                    <a *ngIf="show" class="ptxt tittle-14 text-uppercase" (click)="password()">Ocultar</a>
                    <label class="floating-label">Contraseña*</label>
                    <div *ngIf="form.password.touched && form.password.errors" class="invalid-feedback">
                        <div *ngIf="form.password.errors.required">Porfavor ingrese su contraseña!</div>
                        <div *ngIf="form.password.errors.minlength">Al menos 6 caracteres!</div>
                    </div>
                </div>

                <div *ngFor="let alert of alerts">
                    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                        {{ alert.msg }}</alert>
                </div>

                <div class="row justify-content-between">
                    <div class="col-7">
                        <button type="submit" [disabled]="loginForm.invalid" class="btn button btn-block">INICIAR
                            SESIÓN</button>
                    </div>
                    <div class="col-5 align-self-center text-right">
                        <a class="color-1 tittle-14">Olvidaste tu contraseña?</a>
                    </div>
                </div>

                <div class="row justify-content-center py-5">
                    <div class="col-8 text-center tittle-14">
                        <span>Aun no tienes cuenta, </span>
                        <span (click)="changeSectionRegister()" class="color-1 d-inline" style="cursor: pointer;">Registrate aquí</span>
                    </div>
                </div>
            </form>

        </div>

        <div class="col-12 col-md-6 bg-0 pl-5 pl-md-2 pr-5 py-0 py-md-5" *ngIf="sectionRegister">

            <div class="row justify-content-center">
                <div class="col-4 d-block d-md-none text-center">
                    <img src="/assets/img/asesori-logo-negative.png" width="90px" height="90px" class="" alt="ASESORI" routerLink="/homepage">
                </div>
            </div>

            <p class="tittle-8 text-uppercase pt-4">Registrarse</p>
            <p class="text-light-14">Ingresa la información registrada en tu formulario de solicitud.</p>

            <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">

                <div class="position-relative mt-4">
                    <input type="email" formControlName="email" class="floating-input form-control" placeholder=" " required [ngClass]="{ 'is-invalid': formRegister.email.touched && formRegister.email.errors }">
                    <label class="floating-label">Correo electrónico*</label>
                    <div *ngIf="formRegister.email.touched && formRegister.email.errors" class="invalid-feedback">
                        <div *ngIf="formRegister.email.errors.required">Porfavor ingrese su email!
                        </div>
                        <div *ngIf="formRegister.email.errors.maxlength">Máximo 40 caracteres!
                        </div>
                        <div *ngIf="formRegister.email.errors.email">Porfavor un correo válido!</div>
                    </div>
                </div>

                <div class="position-relative mt-4">
                    <input [type]="show ? 'text' : 'password'" type="password" formControlName="password" class="floating-input form-control" placeholder=" " required [ngClass]="{ 'is-invalid': formRegister.password.touched && formRegister.password.errors }">
                    <a *ngIf="!show" class="ptxt tittle-14 text-uppercase" (click)="password()">Mostrar</a>
                    <a *ngIf="show" class="ptxt tittle-14 text-uppercase" (click)="password()">Ocultar</a>
                    <label class="floating-label">Contraseña*</label>
                    <div *ngIf="formRegister.password.touched && formRegister.password.errors" class="invalid-feedback">
                        <div *ngIf="formRegister.password.errors.required">Ingrese su contraseña!
                        </div>
                        <div *ngIf="formRegister.password.errors.minlength">Al menos 6 caracteres!
                        </div>
                    </div>
                </div>

                <div *ngFor="let alert of alerts">
                    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                        {{ alert.msg }}</alert>
                </div>

                <div class="row justify-content-center">
                    <div class="col-12 col-md-6">
                        <button type="submit" [disabled]="registerForm.invalid" class="btn button btn-block">REGISTRARSE</button>
                    </div>
                </div>

                <div class="row justify-content-center py-5">
                    <div class="col-8 text-center tittle-14">
                        <span>Ya tienes cuenta, </span>
                        <span (click)="changeSectionLogin()" class="color-1 d-inline pointer">Inicia sesión aquí</span>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-md-6 d-none d-md-block align-self-end">

            <div class="row align-items-center justify-content-center pb-4">
                <div class="col-5 col-lg-6 text-center">
                    <p class="color-0 tittle-8 mt-3">¿Necesitas más información?</p>
                </div>
                <div class="col-6 col-lg-4">
                    <button type="button" class="btn button-transparent btn-block">Contáctanos</button>
                </div>
            </div>
        </div>
    </div>

</section>