.result-container {
    box-shadow: 0 3px 4px 0 rgba(163, 163, 163, 0.5);
    border-radius: 5px;
}

.btn-approved {
    background-color: #6dde2e;
    color: #fff;
}

.btn-denied {
    background-color: #d61d1d;
    color: #fff;
}