<section class="container">

    <div class="row justify-content-center px-4">
        <div class="col-4 d-block d-md-none text-center">
            <img src="/assets/img/asesori-logo-negative.png" width="90px" height="90px" class="" alt="ASESORI" routerLink="/homepage">
        </div>
        <div class="col-12 mt-4">
            <h2 class="tittle-1 mb-4 text-center color-10 d-none d-md-block">Seguimiento de solicitudes</h2>
            <p class="tittle-7 text-center mb-4 d-block d-md-none">Seguimiento de solicitudes</p>
            <p class="text-light-16">Revisa el estado de tus solicitudes aquí.</p>
        </div>
    </div>

    <div style="margin: 2%;" class="mt-4 px-4 px-sm-3" *ngFor="let credit of credit_data; let index = index; let i=index">
        <div class="result-container row align-items-center bg-6">
            <div class="col-12 col-md-9 px-3 px-md-5 py-4 bg-0">

                <div class="row align-items-center">
                    <div class="col-12 col-md-2 text-center p-4">
                        <img class="align-self-center" src="/assets/img/iconos/dinero.png" width="40px" height="40px" alt="image">
                    </div>
                    <div class="col-12 col-md-10 mt-3 mt-md-0">
                        <p class="tittle-7">Crédito {{credit.credittype_name}}</p>
                        <p class="text-light-16">{{credit.application_date | date:'longDate' }}.</p>
                        <p class="text-light-14">{{credit.credit_destination}}, Banco del Austro, Banco del Pichincha, $ {{credit.amount_required | number : '1.2-2':'fr' }} ,{{credit.formatted_term}}…
                        </p>
                        <div class="row">
                            <div class="col-sm-6 col-md-5 col-lg-4 mt-4 mt-md-0">
                                <button class="btn btn-block btn-approved tittle-10">2 Aprobados</button>
                            </div>
                            <div class="col-sm-6 col-md-5 col-lg-4 mt-4 mt-md-0">
                                <button class="btn btn-block btn-denied tittle-10">1 Negados</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 py-5 my-md-0">
                <div class="row justify-content-center">
                    <div class="col-8">
                        <!-- <button type="button" class="btn button btn-block" [routerLink]="['detail', credit.creditapplication_id]">REVISAR</button> -->
                        <button type="button" class="btn button btn-block" [routerLink]="['/tracking/detail',credit.creditapplication_id]">REVISAR</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>