<section class="container">
    <div class="row">
        <div class="d-none d-lg-block col-3">
            <div class="row">
                <div class="col bg-4 text-center">
                    <img class="img-fluid mt-4" width="95px" height="95px" src="/assets/img/asesori-logo-negative.png">

                    <ul class="timeline text-left text-uppercase tittle-11 color-6">
                        <li>
                            <summary>Identificación</summary>
                            <p class="mt-4">datos personales</p>
                            <p>domicilio actual</p>
                            <p>contacto</p>
                        </li>
                        <li>
                            <summary class="color-1">Información vehícular</summary>
                            <p class="mt-4 color-1">el vehículo</p>
                        </li>
                        <li>
                            <summary>Mi seguro</summary>
                            <p class="mt-4">solicitud</p>
                        </li>
                        <li>
                            <summary>Solicitud lista</summary>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3 mx-1">
                <div class="col-12">
                    <p class="tittle-10">Tienes la seguridad y confianza</p>
                    <p class="text-light-14">Para nosotros es primordial brindarte toda la seguridad posible y confianza que necesitas durante todo el proceso. Estamos avalados por</p>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-austro-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-biess-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-bolivariano-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-dinnersClub-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-guayaquil-188x100.png">
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9">
            <div class="row mx-2 mx-md-0 justify-content-center py-5">

                <div class="col-12 col-lg-8">

                    <h2 class="tittle-1 mb-2">Información vehícular</h2>
                    <p class="text-light-14">La información de tu vehículo es valiosa para obtener la información que necesitas sobre tu seguro. </p>

                    <form [formGroup]="vehicleform">

                        <!-- <div class="row my-0 my-md-4">
                                    <div class="col-12 col-md-6 my-md-0 my-4">
                                        <ng-select class="custom" [items]="vehicleBrand" formControlName="vehicleBrand" (change)="changeCarBrand($event)" [searchable]="true" bindLabel="brand_name" [clearable]="false">
                                        </ng-select>
                                        <div *ngIf="isFieldValidVehicleform('vehicleBrand')" class="invalid-feedback">
                                            <span>Seleccione una marca!</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <ng-select class="custom" [items]="vehicleYear" formControlName="vehicleYear" [searchable]="true" bindLabel="year" (change)="changeCarYear($event)" [clearable]="false">
                                        </ng-select>
                                        <div *ngIf="isFieldValidVehicleform('vehicleYear')" class="invalid-feedback">
                                            <span>Seleccione un año!</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row my-4">
                                    <div class="col-12">
                                        <ng-select class="custom" [items]="vehicleModel" formControlName="vehicleModel" [searchable]="true" bindLabel="model_name" (change)="changeCarModel($event)" [clearable]="false">
                                        </ng-select>
                                        <div *ngIf="isFieldValidVehicleform('vehicleModel')" class="invalid-feedback">
                                            <span>Seleccione un modelo!</span>
                                        </div>
                                    </div>
                                </div>
        
                                <div class="row mt-4 mb-0 my-md-4">
                                    <div class="col-12">
                                        <ng-select class="custom" [items]="vehicleDescription" formControlName="vehicleDescription" [searchable]="true" bindLabel="description" [clearable]="false">
                                        </ng-select>
                                        <div *ngIf="isFieldValidVehicleform('vehicleDescription')" class="invalid-feedback">
                                            <span>Seleccione la descripción!</span>
                                        </div>
                                    </div>
                                </div> -->

                        <div class="row mt-4 mb-0 my-md-4">
                            <div class="col-12">
                                <ng-select class="custom" [items]="vehicleColors" formControlName="vehicleColor" [searchable]="true" bindLabel="color_name" [clearable]="false">
                                </ng-select>
                                <div *ngIf="isFieldValidVehicleform('vehicleColor')" class="invalid-feedback">
                                    <span>Seleccione un color!</span>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4 mb-0 my-md-4">
                            <div class="col-12">
                                <div class="position-relative">
                                    <input type="text" class="form-control text-uppercase" formControlName="vehiclePlate">
                                    <span class="floating-label text-uppercase">placa</span>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4 mb-0 my-md-4">
                            <div class="col-12">
                                <div class="position-relative">
                                    <input type="tel" currencyMask class="form-control" required>
                                    <span class="floating-label text-uppercase">detalles del vehiculo</span>
                                </div>
                            </div>
                        </div>


                        <div class="row my-4 justify-content-between">
                            <div class="col-4 d-none d-sm-block">
                                <button type="button" class="btn button btn-block">REGRESAR</button>
                            </div>
                            <div class="col-4 d-block d-sm-none">
                                <button type="button" class="btn button btn-block">&lt;</button>
                            </div>
                            <div class="col-4 d-none d-sm-block">
                                <button type="submit" [disabled]="!vehicleform.valid" class="btn button btn-block" (click)="onSubmitVehicleform()">CONTINUAR</button>
                            </div>
                            <div class="col-4 d-block d-sm-none">
                                <button type="submit" [disabled]="!vehicleform.valid" class="btn button btn-block" (click)="onSubmitVehicleform()">&gt;</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>