<header>
  <nav class="navbar fixed-top navbar-expand-md bg-white">
    <div class="container">
      <a class="navbar-brand d-none d-md-block" routerLink="/">
        <img src="/assets/images/asesori-logo-negative.png" width="70" height="70" alt="Asesori">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a routerLink="/auth" class="btn btn-outline-primary d-block d-md-none" role="button">Iniciar Sesión</a>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link link-primary" routerLink="/">Servicios</a>
          </li>
          <li class="nav-item d-none d-md-block">
            <a routerLink="/auth" class="btn btn-outline-primary" role="button">Iniciar Sesión</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>