<section class="container">
    <div class="row justify-content-center">

        <div class="col-4 d-block d-md-none text-center">
            <img src="/assets/img/asesori-logo-negative.png" width="90px" height="90px" class="" alt="ASESORI" routerLink="/homepage">
        </div>

        <div class="d-none d-lg-block col-3">
            <div class="row">
                <div class="col bg-4 text-center">
                    <img class="img-fluid mt-4" width="95px" height="95px" src="/assets/img/asesori-logo-negative.png">

                    <ul class="timeline text-left text-uppercase tittle-19 color-6">
                        <li class="primero">
                            <summary [routerLink]="personal_data ? '/credit/results/identification' : null" [ngClass]="{'pointer color-1': personal_data, 'not-allowed':!personal_data}">Identificación</summary>
                            <p class="mt-4" [routerLink]="personal_data ? '/credit/results/identification' : null" [ngClass]="{'pointer color-1': personal_data, 'not-allowed':!personal_data}">datos personales</p>
                            <p [routerLink]="location_data ? '/credit/results/identification/location' : null" [ngClass]="{'pointer color-1': location_data, 'not-allowed':!location_data}">domicilio actual</p>
                            <p [routerLink]="contact_data ? '/credit/results/identification/contact' : null" [ngClass]="{'pointer color-1': contact_data, 'not-allowed':!contact_data}">contacto</p>
                        </li>
                        <li class="segundo">
                            <summary [routerLink]="labor_data ? '/credit/results/economic' : null" [ngClass]="{'pointer color-1': labor_data, 'not-allowed':!labor_data}" class="tittle-20">Información económica</summary>
                            <p class="mt-4" [routerLink]="labor_data ? '/credit/results/economic/labor' : null" [ngClass]="{'pointer color-1': labor_data, 'not-allowed':!labor_data}">situación laboral</p>
                            <p class="color-1">situación financiera</p>
                            <p [routerLink]="economic_data ? '/credit/results/economic/economic' : null" [ngClass]="{'pointer color-1': economic_data, 'not-allowed':!economic_data}">datos económicos</p>
                        </li>
                        <li class="tercero">
                            <summary [routerLink]="(personal_data && location_data && contact_data && economic_data && labor_data && financial_data) ? '/credit/results/my-credit' : null" [ngClass]="{'pointer color-1': (personal_data && location_data && contact_data && economic_data && labor_data && financial_data), 'not-allowed':!(personal_data && location_data && contact_data && economic_data && labor_data && financial_data)}">Mi crédito</summary>
                            <p class="mt-4" [routerLink]="(personal_data && location_data && contact_data && economic_data && labor_data && financial_data) ? '/credit/results/my-credit/summary' : null" [ngClass]="{'pointer color-1': (personal_data && location_data && contact_data && economic_data && labor_data && financial_data), 'not-allowed':!(personal_data && location_data && contact_data && economic_data && labor_data && financial_data)}">solicitud</p>
                        </li>
                        <li class="cuarto">
                            <summary>Solicitud lista</summary>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3 mx-1">
                <div class="col-12">
                    <p class="tittle-10">Tienes la seguridad y confianza</p>
                    <p class="text-light-14">Para nosotros es primordial brindarte toda la seguridad posible y confianza que necesitas durante todo el proceso. Estamos avalados por</p>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-austro-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-biess-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-bolivariano-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-dinnersClub-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-guayaquil-188x100.png">
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9">

            <div class="d-none d-sm-flex row mx-2 mx-md-0 justify-content-sm-end pt-4">
                <div class="col-9 col-sm-3 px-md-0">
                    <progressbar [value]="percentage"></progressbar>
                </div>
                <div class="col-1 col-sm-1 text-right">
                    {{percentage}}%
                </div>
            </div>

            <div class="row mx-2 mx-md-0 justify-content-center pt-4">

                <div class="col-12 col-lg-8">

                    <h2 class="tittle-1 mb-2 d-none d-sm-block">Información económica</h2>
                    <p class="tittle-7 text-uppercase d-sm-none d-block color-1">Información económica</p>

                    <div class="row d-sm-none d-flex py-3">
                        <div class="col-10">
                            <progressbar [value]="percentage"></progressbar>
                        </div>
                        <div class="col-2 text-right">
                            {{percentage}}%
                        </div>
                    </div>

                    <p class="text-light-14 d-none d-sm-block">Con Asesori puedes acceder a créditos de forma más fácil y segura, por lo que necesitamos identicarte.</p>

                    <div class="row pt-4 pb-0 pb-sm-3 justify-content-center">
                        <div class="col-10 col-sm-4 d-none d-sm-block">
                            <summary [routerLink]="labor_data ? '/credit/results/economic/labor' : null" [ngClass]="{'pointer': labor_data, 'not-allowed':!labor_data}" class="text-center text-sm-left tittle-21 color-7">Situación laboral</summary>
                        </div>
                        <div class="col-10 col-sm-4">
                            <p class="tittle-21 color-1 text-center">Situación financiera</p>
                            <div class="mt-4 ml-1 d-none d-sm-block separator"></div>
                        </div>
                        <div class="col-10 col-sm-4 d-none d-sm-block">
                            <summary [routerLink]="economic_data ? '/credit/results/economic/economic' : null" [ngClass]="{'pointer': economic_data, 'not-allowed':!economic_data}" class="tittle-21 text-center color-7">Datos económicos</summary>
                        </div>
                    </div>

                    <form [formGroup]="financialform">

                        <div class="row mt-4 mb-0 my-md-4">
                            <div class="col-12">
                                <div class="position-relative">
                                    <input type="tel" currencyMask formControlName="monthlySalary" class="floating-input form-control" required placeholder=" " [ngClass]="{ 'is-invalid': isFieldValidfinancialform('monthlySalary')}">
                                    <label class="floating-label">sueldo mensual*</label>
                                    <div *ngIf="isFieldValidfinancialform('monthlySalary')" class="invalid-feedback">
                                        <span>Ingrese el sueldo mensual!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-0 my-md-4">
                            <div class="col-12 col-md-6 my-md-0 my-4">
                                <div class="position-relative">
                                    <input type="tel" currencyMask formControlName="otherMonthlyValue" class="floating-input form-control" placeholder=" ">
                                    <label class="floating-label">otro valor mensual</label>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <div class="position-relative">
                                    <input type="text" formControlName="valueDetail" class="floating-input form-control" placeholder=" ">
                                    <label class="floating-label">detalle del valor</label>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-12">
                                <div class="position-relative">
                                    <input type="tel" currencyMask formControlName="monthlyExpenses" class="floating-input form-control" required placeholder=" " [ngClass]="{ 'is-invalid': isFieldValidfinancialform('monthlyExpenses')}">
                                    <label class="floating-label">gastos al mes*</label>
                                    <div *ngIf="isFieldValidfinancialform('monthlyExpenses')" class="invalid-feedback">
                                        <span>Ingrese los gastos al mes!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-12">
                                <div class="position-relative">
                                    <input type="tel" currencyMask formControlName="paymentCapacity" class="floating-input form-control" required placeholder=" " [ngClass]="{ 'is-invalid': isFieldValidfinancialform('paymentCapacity')}">
                                    <label class="floating-label">mi capacidad de pago mensual es*</label>
                                    <div *ngIf="isFieldValidfinancialform('paymentCapacity')" class="invalid-feedback">
                                        <span>Ingrese los gastos al mes!</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row my-4 justify-content-center">
                            <div class="col-12 col-md-4">
                                <button type="button" class="btn button btn-block" [disabled]="!financialform.valid" (click)="onSubmitLFinancialForm()">CONTINUAR</button>
                            </div>
                        </div>

                    </form>

                    <!-- <div class="row my-4 justify-content-between">
                        <div class="col-4 d-none d-sm-block">
                            <button type="button" class="btn button btn-block">REGRESAR</button>
                        </div>
                        <div class="col-4 d-block d-sm-none">
                            <button type="button" class="btn button btn-block">&lt;</button>
                        </div>
                        <div class="col-4 d-none d-sm-block">
                            <button type="button" class="btn button btn-block" (click)="onSubmitLFinancialForm()">CONTINUAR</button>
                        </div>
                        <div class="col-4 d-block d-sm-none">
                            <button type="button" class="btn button btn-block" (click)="onSubmitLFinancialForm()">&gt;</button>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</section>