ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 45px;
    width: 2px;
    height: 100%;
}

ul.timeline>li {
    margin: 50px 0;
    padding-left: 75px;
}

ul.timeline>li>p {
    padding-left: 15px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #0079ab;
    left: 25px;
    width: 40px;
    height: 40px;
    margin: -15px 0;
}