<section class="container">
    <div class="row">
        <div class="col-12">
            <div class="row mx-2 mx-md-0 justify-content-center">

                <div class="col-4 d-block d-md-none text-center">
                    <img src="/assets/img/asesori-logo-negative.png" width="90px" height="90px" class="" alt="ASESORI" routerLink="/homepage">
                </div>

                <div class="col-12 col-lg-8 align-self-center mt-3 mt-md-5">
                    <h2 class="tittle-1 mt-2 mb-4 text-center color-1">¡Solicitud lista!</h2>
                    <p class="text-light-14 text-center">Hemos enviado tu solicitud de crédito a todos los Bancos, Mutualistas y Cooperativas que has seleccionado, te mantendremos informado a tu correo registrado.
                    </p>

                    <form *ngIf="!loginVerified(); else elseBlock" [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">

                        <p class="mt-4 mb-3 text-center tittle-7">Crea una cuenta para ver el seguimiento de tu solicitud, o <u class="pointer" routerLink="/login" routerLinkActive="active-link">inicia sesión</u></p>

                        <div class="row justify-content-center">
                            <div class="col-12 col-md-7">

                                <div class="position-relative mt-4">
                                    <input type="text" formControlName="email" class="floating-input form-control" required placeholder=" " [ngClass]="{ 'is-invalid': formRegister.email.touched && formRegister.email.errors }">
                                    <label class="floating-label">Email*</label>
                                    <div *ngIf="formRegister.email.touched && formRegister.email.errors" class="invalid-feedback">
                                        <div *ngIf="formRegister.email.errors.required">Porfavor ingrese su email!
                                        </div>
                                        <div *ngIf="formRegister.email.errors.maxlength">Máximo 40 caracteres!
                                        </div>
                                    </div>
                                </div>

                                <div class="position-relative mt-4">
                                    <input [type]="show ? 'text' : 'password'" type="password" formControlName="password" class="floating-input form-control" required placeholder=" " [ngClass]="{ 'is-invalid': formRegister.password.touched && formRegister.password.errors }">
                                    <summary *ngIf="!show" class="ptxt tittle-14 text-uppercase" (click)="password()">Mostrar</summary>
                                    <summary *ngIf="show" class="ptxt tittle-14 text-uppercase" (click)="password()">Ocultar</summary>
                                    <label class="floating-label">Password*</label>
                                    <div *ngIf="formRegister.password.touched && formRegister.password.errors" class="invalid-feedback">
                                        <div *ngIf="formRegister.password.errors.required">Ingrese su contraseña!
                                        </div>
                                        <div *ngIf="formRegister.password.errors.minlength">Al menos 6 caracteres!
                                        </div>
                                    </div>
                                </div>

                                <div *ngFor="let alert of alerts">
                                    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                                        {{ alert.msg }}</alert>
                                </div>

                            </div>
                        </div>

                        <div class="row justify-content-center">
                            <div class="col-12 col-md-4">
                                <button type="submit" [disabled]="registerForm.invalid" class="btn button btn-block">CREAR CUENTA</button>
                            </div>
                        </div>
                    </form>

                    <ng-template #elseBlock>
                        <div class="row my-4">
                            <div class="col-12">
                                <p class="text-light-14 text-center">Revisa el estado de tu solicitud, <span class="pointer color-2 text-14-regular" routerLink="/tracking" routerLinkActive="active-link">aquí</span></p>
                            </div>
                        </div>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid bg-1">
    <div class="container py-0">
        <div class="row mx-2 mx-md-0 justify-content-center">

            <div class="col-md-4 my-3 my-lg-0">
                <div class="row">
                    <div class="col-1">
                        <i class="fas icon fa-stopwatch"></i>
                    </div>
                    <div class="col-10">
                        <h3 class="tittle-8 mb-2">Reduce el tiempo</h3>
                    </div>
                </div>
                <p class="text-light-14 pr-5">Una vez que nos envíes tus datos nosotros te avisaremos cuando exista una tasa menor de interés
                </p>
            </div>
            <div class="col-md-4 my-3 my-lg-0">
                <div class="row">
                    <div class="col-1 mr-2">
                        <i class="far icon fa-money-bill-alt"></i>
                    </div>
                    <div class="col-10">
                        <h3 class="tittle-8 mb-2">Ahorra dinero</h3>
                    </div>
                </div>
                <p class="text-light-14">Comparamos el costo de un crédito, sus plazos y requisitos adicionales. Por lo que podrás elegir el préstamo.
                </p>
            </div>
            <div class="col-md-4 my-3 my-lg-0">
                <div class="row">
                    <div class="col-1">
                        <i class="fas icon fa-paste"></i>
                    </div>
                    <div class="col-10">
                        <h3 class="tittle-8 mb-2">Transparencia</h3>
                    </div>
                </div>
                <p class="text-light-14 pr-3">Actuamos de forma independiente al no ser una entidad financiera, ofreciéndote información gratuita.
                </p>
            </div>

        </div>
    </div>
</section>