<section class="container">
    <div class="row">
        <div class="col-12">
            <div class="row mx-2 mx-md-0 justify-content-center">
                <div class="col-12 col-lg-8 align-self-center">

                    <h2 class="tittle-1 mt-2 mb-4 text-center color-1">¡Solicitud lista!</h2>
                    <p class="text-light-14 text-center">Hemos enviado tu solicitud de crédito a todos los Bancos, Mutualistas y Cooperativas que has seleccionado, te mantendremos informado a tu correo registrado.
                    </p>

                    <p class="mt-4 mb-3 text-center tittle-7">Inicia sesión o crea una cuenta para ver el seguimiento de tu solicitud</p>

                    <form [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">

                        <div class="row justify-content-center">

                            <div class="col-12 col-md-7">

                                <!-- <div class="position-relative mt-3">
                                    <input type="text" formControlName="username" class="form-control" required [ngClass]="{ 'is-invalid': formRegister.username.touched && formRegister.username.errors }">
                                    <span class="floating-label text-uppercase">Username*</span>
                                    <div *ngIf="formRegister.username.touched && formRegister.username.errors" class="invalid-feedback">
                                        <div *ngIf="formRegister.username.errors.required">Porfavor ingrese su usuario!
                                        </div>
                                        <div *ngIf="formRegister.username.errors.minlength">Al menos 3 caracteres!
                                        </div>
                                        <div *ngIf="formRegister.username.errors.maxlength">Máximo 15 caracteres!
                                        </div>
                                    </div>
                                </div> -->
                                <div class="position-relative mt-4">
                                    <input type="text" formControlName="email" class="floating-input form-control" required placeholder=" " [ngClass]="{ 'is-invalid': formRegister.email.touched && formRegister.email.errors }">
                                    <label class="floating-label">Email*</label>
                                    <div *ngIf="formRegister.email.touched && formRegister.email.errors" class="invalid-feedback">
                                        <div *ngIf="formRegister.email.errors.required">Porfavor ingrese su email!
                                        </div>
                                        <div *ngIf="formRegister.email.errors.maxlength">Máximo 40 caracteres!
                                        </div>
                                    </div>
                                </div>

                                <div class="position-relative mt-4">
                                    <input type="password" formControlName="password" class="floating-input form-control" required placeholder=" " [ngClass]="{ 'is-invalid': formRegister.password.touched && formRegister.password.errors }">
                                    <label class="floating-label">Password*</label>
                                    <div *ngIf="formRegister.password.touched && formRegister.password.errors" class="invalid-feedback">
                                        <div *ngIf="formRegister.password.errors.required">Ingrese su contraseña!
                                        </div>
                                        <div *ngIf="formRegister.password.errors.minlength">Al menos 6 caracteres!
                                        </div>
                                    </div>
                                </div>

                                <!-- <div class="row mt-4">
                                    <div class="col-12 col-md-6">
                                        <div class="position-relative">
                                            <input type="password" formControlName="password" class="form-control" required [ngClass]="{ 'is-invalid': formRegister.password.touched && formRegister.password.errors }">
                                            <span class="floating-label text-uppercase">Password*</span>
                                            <div *ngIf="formRegister.password.touched && formRegister.password.errors" class="invalid-feedback">
                                                <div *ngIf="formRegister.password.errors.required">Ingrese su contraseña!
                                                </div>
                                                <div *ngIf="formRegister.password.errors.minlength">Al menos 6 caracteres!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6 mt-4 mt-md-0">
                                        <div class="position-relative">
                                            <input type="password" formControlName="confirmPassword" class="form-control" required [ngClass]="{ 'is-invalid': formRegister.confirmPassword.touched && formRegister.confirmPassword.errors }">
                                            <span class="floating-label text-uppercase">Repetir password*</span>
                                            <div *ngIf="formRegister.confirmPassword.touched && formRegister.confirmPassword.errors" class="invalid-feedback">
                                                <div *ngIf="formRegister.confirmPassword.errors.required">Confirme la contraseña!
                                                </div>
                                                <div *ngIf="formRegister.confirmPassword.errors.MustMatch">No coinciden!
                                                </div>

                                                <div *ngIf="formRegister.confirmPassword.errors.minlength">Al menos 6 caracteres!
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->



                                <div *ngFor="let alert of alerts">
                                    <alert [type]="alert.type" [dismissOnTimeout]="alert.timeout" (onClosed)="onClosed(alert)">
                                        {{ alert.msg }}</alert>
                                </div>

                            </div>

                        </div>

                        <div class="row justify-content-center">
                            <div class="col-12 col-md-4">
                                <button type="submit" [disabled]="registerForm.invalid" class="btn button btn-block">CREAR CUENTA</button>
                            </div>
                        </div>
                    </form>



                    <!-- <div class="row justify-content-center">
                        <div class="col-12 col-md-7">
                            <div class="position-relative mt-4">
                                <input type="text" class="form-control" required>
                                <span class="floating-label text-uppercase">correo electrónico*</span>
                            </div>
                            <div class="position-relative mt-4">
                                <input type="password" class="form-control" required>
                                <span class="floating-label text-uppercase">Contraseña*</span>
                            </div>
                        </div>
                    </div>

                    <div class="row mt-4 justify-content-center">
                        <div class="col-12 col-md-4">
                            <button type="button" class="btn button btn-block">CREAR CUENTA</button>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid bg-1">
    <div class="container py-0">
        <div class="row mx-2 mx-md-0 justify-content-center">

            <div class="col-md-4 my-3 my-lg-0">
                <div class="row">
                    <div class="col-1">
                        <i class="fas icon fa-stopwatch"></i>
                    </div>
                    <div class="col-10">
                        <h3 class="tittle-8 mb-2">Reduce el tiempo</h3>
                    </div>
                </div>
                <p class="text-light-14 pr-5">Una vez que nos envíes tus datos nosotros te avisaremos cuando exista una tasa menor de interés
                </p>
            </div>
            <div class="col-md-4 my-3 my-lg-0">
                <div class="row">
                    <div class="col-1 mr-2">
                        <i class="far icon fa-money-bill-alt"></i>
                    </div>
                    <div class="col-10">
                        <h3 class="tittle-8 mb-2">Ahorra dinero</h3>
                    </div>
                </div>
                <p class="text-light-14">Comparamos el costo de un crédito, sus plazos y requisitos adicionales. Por lo que podrás elegir el préstamo.
                </p>
            </div>
            <div class="col-md-4 my-3 my-lg-0">
                <div class="row">
                    <div class="col-1">
                        <i class="fas icon fa-paste"></i>
                    </div>
                    <div class="col-10">
                        <h3 class="tittle-8 mb-2">Transparencia</h3>
                    </div>
                </div>
                <p class="text-light-14 pr-3">Actuamos de forma independiente al no ser una entidad financiera, ofreciéndote información gratuita.
                </p>
            </div>

        </div>
    </div>
</section>