<!-- FOOTER -->
<footer class="pt-4">
    <div class="container my-0 text-center text-md-left">
        <div class="row mx-4 mx-md-0">
            <div class="col-md-4 mx-auto">
                <img class="img-fluid" width="95px" height="95px" src="/assets/img/asesori-logo-negative.png">
                <p class="text-light-16 text-justify">Asesori te facilita las mejores opciones para que puedas acceder rápido y seguro al crédito y seguro que necesites.</p>
            </div>
            <div class="col-md-3 col-lg-2 mx-auto my-md-4 my-0 mt-4">
                <h5 class="text-uppercase mb-4 tittle-7">ACERCA DE</h5>
                <ul>
                    <li>
                        <p>
                            <summary routerLink="/homepage" class="tittle-10 color-1">INICIO</summary>
                        </p>
                    </li>
                    <li>
                        <p>
                            <summary routerLink="/services" class="tittle-10 color-1">SERVICIOS</summary>
                        </p>
                    </li>
                    <li>
                        <p>
                            <summary routerLink="/services" class="tittle-10 color-1">TESTIMONIOS</summary>
                        </p>
                    </li>
                    <!-- <li>
                        <p><a href="#!" class="tittle-10">CONTACTANOS</a></p>
                    </li> -->
                </ul>
            </div>
            <div class="col-md-5 col-lg-5 mx-auto my-md-4 my-0 mt-4">
                <h5 class="text-uppercase mb-4 tittle-7">Información</h5>
                <ul>
                    <li>
                        <p>
                            <i class="fas fa-home"></i> Avenida 24 de Enero y Francisco Cevallos.
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-envelope"></i> info@example.com
                        </p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-phone"></i> +593-991538711
                        </p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <hr>
    <ul class="text-center py-2">
        <li *ngIf="!loginVerified();" class="list-inline-item">
            <h5 class="mb-1 tittle-10">Registrate ahora!</h5>
        </li>
        <li *ngIf="!loginVerified(); else elseBlock" class="list-inline-item">
            <a (click)="openModal('',false)" class="btn btn-rounded text-white bg-2">Sign up!</a>
        </li>

        <ng-template #elseBlock>
            <li class="list-inline-item">
                <a class="tittle-10">Hola {{user.username}}</a>
            </li>
        </ng-template>
    </ul>
    <hr>

    <!-- Social buttons -->
    <ul class="text-center my-4 text-white">
        <li class="list-inline-item">
            <i class="fab facebook fa-facebook"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab twitter fa-twitter"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab instagram fa-instagram"></i>
        </li>
        <li class="list-inline-item">
            <i class="fab whatsapp fa-whatsapp"></i>
        </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="text-white bg-3 text-center py-3 tittle-10">© 2020 Copyright ASESORI</div>
    <!-- Copyright -->
</footer>