/* FOOTER */

.fab {
    padding: 10px 10px;
    font-size: 30px;
    width: 50px;
    text-decoration: none;
    border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
}

.facebook {
    background: #3B5998;
}

.twitter {
    background: #55ACEE;
}

.instagram {
    background: #E1306C;
}

.whatsapp {
    background: #25D366;
}