<main class="bg-1">
    <form [formGroup]="myForm">
        <section class="container">
            <div class="row justify-content-center">
                <div class="col-6 text-center">
                    <div class="form-group">
                        <div class="btn-group btn-group-lg rounded" btnRadioGroup formControlName="radio">
                            <label btnRadio="0" (click)="todos()" class="btn btn-primary tittle-7 bg-0 color-4 border-bg-1" tabindex="0" role="button">CRÉDITOS</label>
                            <label btnRadio="1" (click)="bancos()" class="btn btn-primary tittle-7 bg-0 color-4 border-bg-1" tabindex="0" role="button">SEGUROS</label>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>

    <section class="container pt-1">
        <div class="row">
            <div class="col-2">
                <div class="options">
                    <p class="">Estudios</p>
                    <p class="">Para mi carrera</p>
                    <p class="">(De consumo)</p>
                </div>
                <div class="options my-4">
                    <p class="">Estudios</p>
                    <p class="">Para mi carrera</p>
                    <p class="">(De consumo)</p>
                </div>
            </div>
            <div class="col-10 bg-0">
                <p class="tittle-9">Estudios</p>
                <p class="tittle-5">Para mi carrera</p>
                <p class="text-light-14">Obtén el crédito que necesitas en donde tu eligas de manera más rápida y ágil, asegurando confianza y confiabilidad. El crédito para tus estudios te está esperando. </p>
                <img src="assets/img/credit-images/credito-educacion.jpg" alt="">
                <p class="text-light-14">Obtén el crédito que necesitas en donde tu eligas de manera más rápida y ágil, asegurando confianza y confiabilidad.</p>
                <p class="tittle-8">Otorgado a: </p>
                <p class="text-light-14">Personas naturales.</p>
                <p class="tittle-8">Destinado a: </p>
                <p class="text-light-14">Compra de bienes, servicios o gastos no relacionados con una actividad productiva.</p>
                <p class="tittle-8">Términos</p>
                <p class="text-light-14">INCLUYE: créditos prendarios de joyas y consumos en establecimientos médicos cuyo saldo adeudado sea superior a USD 5.000.00. INCLUYE: anticios de efectivo y consumos con tarjetas de crédito (coporativas y de personas naturales) cuyo saldo
                    adeudado sea inferior a USD 5.000.00. EXCEPCIONES: créditos efectuados en establecimientos educativos.</p>

                <button class="btn button text-uppercase">inicia una solicitud</button>

            </div>
        </div>
    </section>

</main>