.options {
    width: 100%;
    border-radius: 7px;
    box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.13);
    padding: 20px;
}


/* ESTYLE TO SELECT OPTION */

.kudos-wrap input[type="checkbox"],
.kudos-wrap input[type="radio"] {
    display: none;
}

.kudos-wrap label {
    //border: 2px solid #fff;
    border: 2px solid #e6e6ed;
    background-color: #ffffff;
    color: #000;
}

.kudos-wrap label:before {
    transition-duration: 0.4s;
    transform: scale(0);
}

.kudos-wrap label {
    transition-duration: 0.1s;
    transform-origin: 50% 50%;
}

.kudos-wrap :checked+label {
    border-color: #0079ab;
    background-color: #0079ab;
    color: #fff;
}

label:active,
label:focus,
[role="button"][aria-pressed="true"] {
    background-color: #0079a8;
    color: #ffffff;
    padding: 10px;
    font-size: 13px;
}

label:active,
label:focus,
[role="button"][aria-pressed="false"] {
    background-color: #ffffff;
    color: #3d3d3d;
    padding: 10px;
    font-size: 13px;
}

.btn-group.special {
    display: flex;
}

.special .btn {
    flex: 1
}