@font-face {
	font-family: 'Poppins';
	src:url('/assets/font/Poppins-ExtraLight.otf');
}

@font-face {
	font-family: 'Poppins-SemiBold';
	src:url('/assets/font/Poppins-SemiBold.otf');
}

@font-face {
	font-family: 'Poppins-Medium';
	src:url('/assets/font/Poppins-Medium.otf');
}