/*------------------------------------*\
    TIPOGRAFÍA
\*------------------------------------*/

@font-face {
	font-family: 'Poppins-Thin';
	src:url('/assets/font/Poppins-Thin.otf');
	/* --- font-family: 'Poppins-Thin'; --- */
	/* --- font-weight:100 --- */
}

@font-face {
	font-family: 'Poppins-ExtraLight';
	src:url('/assets/font/Poppins-ExtraLight.otf');
	/* --- font-family: 'Poppins-ExtraLight'; --- */
	/* --- font-weight:200 --- */
}

@font-face {
	font-family: 'Poppins-Light';
	src:url('/assets/font/Poppins-Light.otf');
	/* --- font-family: 'Poppins-ExtraLight'; --- */
	/* --- font-weight:300 --- */
}

@font-face {
	font-family: 'Poppins-Regular';
	src:url('/assets/font/Poppins-Regular.otf');
	/* --- font-family: 'Poppins-Regular'; --- */
	/* --- font-weight:400 --- */
}

@font-face {
	font-family: 'Poppins-Medium';
	src:url('/assets/font/Poppins-Medium.otf');
	/* --- font-family: 'Poppins-Medium'; --- */
	/* --- font-weight:500 --- */
}

@font-face {
	font-family: 'Poppins-SemiBold';
	src:url('/assets/font/Poppins-SemiBold.otf');
	/* --- font-family: 'Poppins-SemiBold'; --- */
	/* --- font-weight:600 --- */
}

@font-face {
	font-family: 'Poppins-Bold';
	src:url('/assets/font/Poppins-Bold.otf');
	/* --- font-family: 'Poppins-Bold'; --- */
	/* --- font-weight:700 --- */
}

@font-face {
	font-family: 'Poppins-Bold';
	src:url('/assets/font/Poppins-Bold.otf');
	/* --- font-family: 'Poppins-Bold'; --- */
	/* --- font-weight:700 --- */
}

@font-face {
	font-family: 'Poppins-ExtraBold';
	src:url('/assets/font/Poppins-ExtraBold.otf');
	/* --- font-family: 'Poppins-ExtraBold'; --- */
	/* --- font-weight:800 --- */
}

@font-face {
	font-family: 'Poppins-Black';
	src:url('/assets/font/Poppins-Black.otf');
	/* --- font-family: 'Poppins-Black'; --- */
	/* --- font-weight:900 --- */
}

/*------------------------------------*\
    END - TIPOGRAFÍA
\*------------------------------------*/