<section class="container">
    <div class="row">
        <div class="col-12">
            <div class="row mx-2 mx-md-0 justify-content-center">

                <div class="col-4 d-block d-md-none text-center">
                    <img src="/assets/img/asesori-logo-negative.png" width="90px" height="90px" class="" alt="ASESORI" routerLink="/homepage">
                </div>

                <div class="col-12 col-lg-8 align-self-center mt-3 mt-md-5">
                    <h2 class="tittle-1 mt-2 mb-4 text-center color-1">¡Solicitud lista!</h2>
                    <p class="text-light-14 text-center">Hemos enviado tu solicitud a la/las Aseguradoras que has seleccionado, te mantendremos informado en tu correo registrado.
                    </p>

                    <!-- <p class="mt-5 mb-3 text-center tittle-7">Inicia sesión o crea una cuenta para ver el seguimiento de tu solicitud</p>

                    <div class="row my-5 justify-content-center">
                        <div class="col-12 col-md-5">
                            <button type="button" class="btn button btn-block">CREAR CUENTA</button>
                        </div>
                    </div> -->

                </div>
            </div>
        </div>
    </div>
</section>
<section class="container-fluid bg-1">
    <div class="container py-0">
        <div class="row mx-2 mx-md-0 justify-content-center">

            <div class="col-md-4 my-3 my-lg-0">
                <div class="row">
                    <div class="col-1">
                        <i class="fas icon fa-stopwatch"></i>
                    </div>
                    <div class="col-10">
                        <h3 class="tittle-8 mb-2">Reduce el tiempo</h3>
                    </div>
                </div>
                <p class="text-light-14 pr-5">Una vez que nos envíes tus datos nosotros te avisaremos cuando exista una tasa menor de interés
                </p>
            </div>
            <div class="col-md-4 my-3 my-lg-0">
                <div class="row">
                    <div class="col-1 mr-2">
                        <i class="far icon fa-money-bill-alt"></i>
                    </div>
                    <div class="col-10">
                        <h3 class="tittle-8 mb-2">Ahorra dinero</h3>
                    </div>
                </div>
                <p class="text-light-14">Comparamos el costo de un crédito, sus plazos y requisitos adicionales. Por lo que podrás elegir el préstamo.
                </p>
            </div>
            <div class="col-md-4 my-3 my-lg-0">
                <div class="row">
                    <div class="col-1">
                        <i class="fas icon fa-paste"></i>
                    </div>
                    <div class="col-10">
                        <h3 class="tittle-8 mb-2">Transparencia</h3>
                    </div>
                </div>
                <p class="text-light-14 pr-3">Actuamos de forma independiente al no ser una entidad financiera, ofreciéndote información gratuita.
                </p>
            </div>

        </div>
    </div>
</section>