<header>
    <nav class="navbar fixed-top navbar-expand-md navbar-light ">
        <div class="container py-4 py-md-0 ">

            <a class="navbar-brand d-none d-md-block" routerLink="/homepage">
                <img src="/assets/img/asesori-logo-negative.png" width="70px" height="70px" alt="">
            </a>

            <button class="navbar-toggler" type="button" (click)="toggleNavbar()" aria-controls="collapseBasic">
                <span class="navbar-toggler-icon"></span>
            </button>

            <li *ngIf="!loginVerified()" class="nav-item d-block d-md-none">
                <button (click)="goTologin()" class="btn-outline tittle-23 align-self-center">Iniciar sesión</button>
            </li>

            <div *ngIf="loginVerified()" class="d-block d-md-none">
                <ng-template #popTemplate>
                    <div class="row">
                        <div class="col-12">
                            <summary routerLink="/tracking" (click)="popOptions.hide()" routerLinkActive="active-link" class="nav-link tittle-13 color-3">Mis solicitudes</summary>
                            <summary (click)="onLoggedout(); popOptions.hide()" class="nav-link tittle-13 color-3">Cerrar sesión</summary>
                        </div>
                    </div>
                </ng-template>

                <ul class="navbar-nav ml-auto">
                    <li class="nav-item" [popover]="popTemplate" #popOptions="bs-popover" placement="bottom" [outsideClick]="true" (onHidden)="collapseMovile()">
                        <a (click)="isCollapsedMovile = !isCollapsedMovile" class="nav-link tittle-10 mt-1 pointer"><u> {{user.username}} <i *ngIf="!isCollapsedMovile" class="fas fa-angle-up pr-3"></i><i *ngIf="isCollapsedMovile" class="fas fa-angle-down pr-3"></i></u></a>
                    </li>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="collapseBasic" [collapse]="!navbarOpen" [isAnimated]="animated">
                <ul class="navbar-nav ml-auto">
                    <!-- <li class="nav-item">
                        <a class="nav-link tittle-10 mt-1" (click)="toggleNavbar()" routerLink="/homepage" routerLinkActive="active-link">Inicio</a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link tittle-10 mt-1" (click)="toggleNavbar()" routerLink="/services" routerLinkActive="active-link">Servicios</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link tittle-10 mt-1" (click)="toggleNavbar()" routerLink="/homepage" routerLinkActive="active-link">Testimonios</a>
                    </li> -->
                    <li *ngIf="!loginVerified(); else elseBlock" class="nav-item d-none d-md-block">
                        <button (click)="goTologin()" class="btn-outline tittle-10 mt-1 mb-3 mb-md-0">Iniciar
                            sesión</button>
                    </li>
                    <ng-template #elseBlock>

                        <ng-template #popTemplate>
                            <summary routerLink="/tracking" (click)="popOptions.hide()" routerLinkActive="active-link" class="nav-link tittle-13 color-3">Mis solicitudes</summary>
                            <summary (click)="onLoggedout(); popOptions.hide()" class="nav-link tittle-13 color-3">Cerrar sesión</summary>
                        </ng-template>

                        <li class="nav-item d-none d-md-block" [popover]="popTemplate" #popOptions="bs-popover" placement="bottom" [outsideClick]="true" (onHidden)="collapse()">
                            <a (click)="isCollapsed = !isCollapsed" class="nav-link tittle-10 mt-1 pointer"><i class="fas fa-user-circle"></i><u> {{user.username}} <i *ngIf="!isCollapsed" class="fas fa-angle-up pr-3"></i><i *ngIf="isCollapsed" class="fas fa-angle-down pr-3"></i></u></a>
                        </li>
                    </ng-template>
                </ul>
            </div>
        </div>
    </nav>
</header>