<main #calculator class="bg-1 main-top-80">

    <div class="container py-0">
        <div class="row justify-content-center bg-0">
            <div class="col-4 d-block d-md-none text-center">
                <img src="/assets/img/asesori-logo-negative.png" width="90px" height="90px" class="" alt="ASESORI" routerLink="/homepage">
            </div>
        </div>
    </div>

    <br><br>

    <section *ngIf="calculatorSection" class="container bg-0 p-5">

        <div class="row">
            <div class="col-12 col-md-5">
                <p class="tittle-9">{{credit_name}}</p>
                <p class="tittle-22">{{destinedTo}}</p>
            </div>
            <!-- CREDITS SELECT -->
            <div class="col-12 col-md-7">
                <ng-select appearance="outline" [items]="credits_select" (change)="onSelectCreditOption($event)" placeholder="cambiar" [searchable]="false" bindLabel="name" bindValue="id" [clearable]="false">
                    <ng-template ng-label-tmp let-item="item">
                        <i class="fas fa-check-circle color-1"></i> <span class="tittle-9 color-1 ml-2 mr-3">{{item.name}}</span>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="container py-0">
                            <div class="row px-2 row-hover">
                                <div class="col-12 col-lg-4">
                                    <span class="tittle-9 py-0">{{item.name}}</span>
                                </div>
                                <div class="col-12 col-lg-8">
                                    <span class="text-14 py-0">({{item.description}})</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-select>
            </div>

        </div>


        <hr class="my-4">
        <p class="text-light-14">Utiliza nuestra calculadora para conocer las diferentes opciones de créditos que puedes tener.
        </p>

        <!-- VALUES BOX -->
        <div class="row pt-4 justify-content-between px-3">
            <div class="my-2 my-lg-0  box-values-slider">
                <div class="custom-slider">
                    <p class="header-box-values-slider mb-4 text-uppercase"><b>monto a solicitar*</b></p>
                    <ng5-slider [(value)]="amountRequest.value" [options]="amountRequest.options"></ng5-slider>
                    <p class="tittle-11 text-right mt-2 mb-0">Dólares americanos</p>
                </div>
            </div>
            <div class="my-2 my-lg-0  box-values-slider">
                <div class="custom-slider">
                    <p class="header-box-values-slider mb-4 text-uppercase"><b>entrada</b></p>
                    <ng5-slider [(value)]="entryAmount.value" [options]="entryAmount.options"></ng5-slider>
                    <p class="tittle-11 text-right mt-2 mb-0">Valor opcional</p>
                </div>
            </div>
            <div class="my-2 my-lg-0  box-values-slider">
                <div class="custom-slider">
                    <p class="header-box-values-slider mb-4 text-uppercase"><b>ingreso mensual*</b></p>
                    <ng5-slider [(value)]="monthlyIncome.value" [options]="monthlyIncome.options"></ng5-slider>
                    <p class="tittle-11 text-right mt-2 mb-0">Sueldo mensual</p>
                </div>
            </div>
            <div class="my-2 my-lg-0 box-values-slider">
                <div class="custom-slider">
                    <p class="header-box-values-slider mb-4 text-uppercase"><b>tiempo plazo*</b></p>
                    <ng5-slider [(value)]="term.value" [options]="term.options"></ng5-slider>
                    <p class="tittle-11 text-right mt-2 mb-0">Meses</p>
                </div>
            </div>
        </div>

        <div class="row justify-content-between mt-4">
            <div class="col-12">
                <alert *ngIf="(entryAmount.value > (amountRequest.value * 0.9))" type="danger">
                    La entrada no puede superar el 90% del valor a solicitar!
                </alert>
            </div>
        </div>

        <!-- CALCULATE CREDIT BUTTON -->
        <div class="row mt-4 justify-content-center px-0">
            <div class="col-md-6 col-lg-3">
                <button type="button" class="btn button-calculate btn-block" [disabled]="amountRequest.value == 0 || monthlyIncome.value == 0 || term.value == 0 || entryAmount.value > (amountRequest.value * 0.9)" (click)="onSubmitServiceform(calculator)">CALCULAR</button>
            </div>
        </div>

    </section>

    <!-- EMAIL & STEPS SECTION -->
    <form [formGroup]="emailform" novalidate (ngSubmit)="onSubmitEmailSection()">
        <section *ngIf="emailSection" class="container bg-0 p-5">


            <div class="row px-4 px-md-0">
                <div class="col-12">
                    <h4 class="tittle-9 mt-4 mb-3 text-uppercase"><b>Estas a un solo paso, ingresa tu email,
                            provincia y ciudad</b>
                    </h4>
                    <p class="text-light-14">Antes de conocer las mejores opciones de crédito es importante que ingreses los siguientes datos. </p>
                </div>

                <div class="col-12 col-md-6 py-2 py-md-0">
                    <div class="position-relative">
                        <input type="email" [attr.disabled]="hasEmail ? '' : null" formControlName="email" class="floating-input form-control" placeholder=" " required [ngClass]="{ 'is-invalid': emailForm.email.touched && emailForm.email.errors}">
                        <label class="floating-label">correo electronico*</label>
                        <div *ngIf="emailForm.email.touched && emailForm.email.errors" class="invalid-feedback">
                            <span>Ingrese correo electrónico!</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3 py-2 py-md-0">
                    <ng-select appearance="outline" [items]="provinces" placeholder="provincia*" formControlName="province" (change)="changeProvince($event)" [searchable]="true" bindLabel="name" [clearable]="false">
                    </ng-select>
                    <div *ngIf="isFieldValidemailForm('province')" class="invalid-select">
                        <span>Seleccione una provincia!</span>
                    </div>
                </div>

                <div class="col-12 col-md-3 py-2 py-md-0">
                    <ng-select appearance="outline" [items]="cities" placeholder="ciudad*" formControlName="city" [searchable]="true" bindLabel="name" [clearable]="false" required>
                    </ng-select>
                    <div *ngIf="isFieldValidemailForm('city')" class="invalid-select">
                        <span>Seleccione una ciudad!</span>
                    </div>
                </div>
            </div>

            <div class="row px-4 px-md-0 mt-2 mb-3 mt-md-4 justify-content-end">
                <div class="col-md-3">
                    <button type="submit" [disabled]="emailform.invalid" class="btn button btn-block">CONTINUAR</button>
                </div>
            </div>

        </section>
    </form>

    <br><br>

</main>