.box-values-slider {
    border-radius: 9px;
    background-color: #f3f3f3;
    padding: 15px 20px;
    width: 23%;
}

::ng-deep {
    .custom-slider .ng5-slider .ng5-slider-bar {
        background: #e6e6e6;
        height: 11px;
        border-radius: 14px;
    }
    .custom-slider .ng5-slider .ng5-slider-pointer {
        top: -6px;
        width: 26px;
        height: 26px;
        background-color: #0A9BC9;
    }
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
        display: block;
        margin: -3px -3px;
    }
    .custom-slider .ng5-slider .ng5-slider-bubble {
        bottom: 25px;
        font-size: 30px;
        font-family: 'Poppins-SemiBold';
        line-height: 0.4;
        text-align: right;
        color: #333337;
    }
}

.header-box-values-slider {
    font-family: 'Poppins-SemiBold';
    font-size: 14px;
    letter-spacing: 1.17px;
}

.row-hover:hover {
    color: #0079ab;
}


/* MEDIA QUERIES */


/* Small devices (landscape phones, less than 768px)*/

@media only screen and (max-width: 767.98px) {
    .box-values-slider {
        width: 100%;
    }
}