<footer class="pt-4">
	<div class="container text-center pb-4">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<img class="img-fluid" width="90" height="90" src="/assets/images/asesori-logo-negative.png" />
				<small class="d-block"
					>Asesori te facilita las mejores opciones para que puedas acceder rápido y seguro al crédito y seguro que
					necesites.</small
				>
			</div>
		</div>
	</div>
	<div class="text-white bg-dark text-center py-3">©{{ year }} Copyright ASESORI</div>
</footer>
