ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 45px;
    width: 2px;
    height: 100%;
}

ul.timeline>li {
    margin: 50px 0;
    padding-left: 75px;
}

ul.timeline>li>p {
    padding-left: 15px;
}

ul.timeline>li.primero:before {
    content: '1'; //aqui
    font-size: 15px;
    text-align: center;
    background: #0079ab;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #0079ab;
    color: #fff;
    left: 28px;
    padding: 9px 13px;
    margin: -12px 0;
}

ul.timeline>li.segundo:before {
    content: '2'; //aqui
    font-size: 15px;
    text-align: center;
    background: #f6f6f6;
    color: #737373;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #c6c6c6;
    left: 28px;
    padding: 9px 11px;
    margin: -15px 0;
}

ul.timeline>li.tercero:before {
    content: '3'; //aqui
    font-size: 15px;
    text-align: center;
    background: #f6f6f6;
    color: #737373;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #c6c6c6;
    left: 28px;
    padding: 9px 11px;
    margin: -15px 0;
}

ul.timeline>li.cuarto:before {
    content: url(/assets/img/asesori-logo-negative-small.png);
    background: #f6f6f6;
    text-align: center;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #c6c6c6;
    left: 27px;
    padding: 7px 7px;
    margin: -15px 0;
}