<section class="container">
    <div class="row justify-content-center">

        <div class="col-4 d-block d-md-none text-center">
            <img src="/assets/img/asesori-logo-negative.png" width="90px" height="90px" class="" alt="ASESORI" routerLink="/homepage">
        </div>

        <div class="d-none d-lg-block col-3">
            <div class="row">
                <div class="col bg-4 text-center">
                    <img class="img-fluid mt-4" width="95px" height="95px" src="/assets/img/asesori-logo-negative.png">

                    <ul class="timeline text-left text-uppercase tittle-19 color-6">
                        <li class="primero">
                            <summary [routerLink]="personal_data ? '/insurance/results/identification' : null" [ngClass]="{'pointer color-1': personal_data, 'not-allowed':!personal_data}" class="tittle-20">Identificación</summary>
                            <p class="mt-4" [routerLink]="personal_data ? '/insurance/results/identification' : null" [ngClass]="{'pointer color-1': personal_data, 'not-allowed':!personal_data}">datos personales
                            </p>
                            <p [routerLink]="location_data ? '/insurance/results/identification/location' : null" [ngClass]="{'pointer color-1': location_data, 'not-allowed':!location_data}">domicilio actual
                            </p>
                            <p class="color-1">contacto</p>
                        </li>
                        <li class="segundo">
                            <summary [routerLink]="vehicle_data ? '/insurance/results/vehicle' : null" [ngClass]="{'pointer color-1': vehicle_data, 'not-allowed':!vehicle_data}">Información vehícular
                            </summary>
                            <p class="mt-4" [routerLink]="vehicle_data ? '/insurance/results/vehicle/data' : null" [ngClass]="{'pointer color-1': vehicle_data, 'not-allowed':!vehicle_data}">el vehículo
                            </p>
                        </li>
                        <li class="tercero">
                            <summary [routerLink]="(personal_data && location_data && contact_data && vehicle_data) ? '/insurance/results/my-insurance' : null" [ngClass]="{'pointer color-1': (personal_data && location_data && contact_data && vehicle_data), 'not-allowed':!(personal_data && location_data && contact_data && vehicle_data)}">
                                Mi seguro</summary>
                            <p class="mt-4" [routerLink]="(personal_data && location_data && contact_data && vehicle_data) ? '/insurance/results/my-insurance/summary' : null" [ngClass]="{'pointer color-1': (personal_data && location_data && contact_data && vehicle_data), 'not-allowed':!(personal_data && location_data && contact_data && vehicle_data)}">
                                solicitud</p>
                        </li>
                        <li class="cuarto">
                            <summary>Solicitud lista</summary>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row mt-3 mx-1">
                <div class="col-12">
                    <p class="tittle-10">Tienes la seguridad y confianza</p>
                    <p class="text-light-14">Para nosotros es primordial brindarte toda la seguridad posible y confianza que necesitas durante todo el proceso. Estamos avalados por</p>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-austro-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-biess-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-bolivariano-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-dinnersClub-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-guayaquil-188x100.png">
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9">

            <div class="d-none d-sm-flex row mx-2 mx-md-0 justify-content-sm-end pt-4">
                <div class="col-9 col-sm-3 px-md-0">
                    <progressbar [value]="percentage"></progressbar>
                </div>
                <div class="col-1 col-sm-1 text-right">
                    {{percentage}}%
                </div>
            </div>

            <div class="row mx-2 mx-md-0 justify-content-center pt-4">

                <div class="col-12 col-lg-8">

                    <h2 class="tittle-1 mb-2 d-none d-sm-block">Identificación</h2>
                    <p class="tittle-7 text-uppercase d-sm-none d-block color-1">Identificación</p>

                    <div class="row d-sm-none d-flex py-3">
                        <div class="col-10">
                            <progressbar [value]="percentage"></progressbar>
                        </div>
                        <div class="col-2 text-right">
                            {{percentage}}%
                        </div>
                    </div>

                    <p class="text-light-14 d-none d-sm-block">Con Asesori puedes acceder a varias opciones en donde puedes comparar la mejor opción de Seguro Vehícular.</p>

                    <div class="row pt-4 pb-0 pb-sm-3 justify-content-center">
                        <div class="col-10 col-sm-4 d-none d-sm-block">
                            <summary [routerLink]="location_data ? '/insurance/results/identification/personal' : null" [ngClass]="{'pointer': location_data, 'not-allowed':!location_data}" class="text-center text-sm-left tittle-8 color-7">Datos personales</summary>
                        </div>
                        <div class="col-10 col-sm-4 d-none d-sm-block">
                            <summary [routerLink]="location_data ? '/insurance/results/identification/location' : null" [ngClass]="{'pointer': location_data, 'not-allowed':!location_data}" class="tittle-8 text-center text-sm-left color-7">Domicilio actual</summary>
                        </div>
                        <div class="col-10 col-sm-4 text-center text-sm-left">
                            <p class="tittle-8 color-1">Contacto</p>
                            <div class="mt-4 d-none d-sm-block separator-right"></div>
                        </div>
                    </div>

                    <form [formGroup]="contactForm">
                        <div class="row my-4">
                            <div class="col-12">
                                <div class="position-relative">
                                    <input type="tel" numeric maxlength="10" [attr.disabled]="hasPhone1 ? '' : null" formControlName="phone" class="floating-input form-control" required placeholder=" " [ngClass]="{ 'is-invalid': contactForm.controls.phone.touched && contactForm.controls.phone.errors}"
                                        (keyup)="updatePercentagePhone()">
                                    <label class="floating-label">telefono para contacto*</label>
                                    <div *ngIf="contactForm.controls.phone.touched && contactForm.controls.phone.errors" class="invalid-feedback">
                                        <div *ngIf="contactForm.controls.phone.errors.required">
                                            <span>Ingrese su teléfono!</span>
                                        </div>
                                        <div *ngIf="!contactForm.controls.phone.errors.minlegth">
                                            <span>Teléfono incorrecto!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-12">
                                <div class="position-relative">
                                    <input type="tel" numeric maxlength="10" formControlName="phone2" class="floating-input form-control" required placeholder=" " [ngClass]="{ 'is-invalid': contactForm.controls.phone2.touched && contactForm.controls.phone2.errors}" (keyup)="updatePercentagePhone2()">
                                    <label class="floating-label">telefono opcional de contacto*</label>
                                    <div *ngIf="contactForm.controls.phone2.touched && contactForm.controls.phone2.errors" class="invalid-feedback">
                                        <div *ngIf="contactForm.controls.phone2.errors.required">
                                            <span>Ingrese un teléfono!</span>
                                        </div>
                                        <div *ngIf="!contactForm.controls.phone2.errors.minlegth">
                                            <span>Teléfono incorrecto!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col-12">
                                <div class="position-relative">
                                    <input type="email" maxlength="40" [attr.disabled]="hasEmail ? '' : null" formControlName="email" class="floating-input form-control" required placeholder=" " [ngClass]="{ 'is-invalid': contactForm.controls.email.touched && contactForm.controls.email.errors}"
                                        (keyup)="updatePercentageEmail()">
                                    <label class="floating-label">correo electrónico*</label>
                                    <div *ngIf="contactForm.controls.email.touched && contactForm.controls.email.errors" class="invalid-feedback">
                                        <div *ngIf="contactForm.controls.email.errors.required">
                                            <span>Ingrese un correo electrónico!</span>
                                        </div>
                                        <div *ngIf="!contactForm.controls.email.errors.maxlegth">
                                            <span>No puede superar 40 caracteres!</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row my-4 justify-content-center">
                            <div class="col-12 col-md-4">
                                <button type="button" [disabled]="!contactForm.valid" class="btn button btn-block" (click)="onSubmitContactForm()">CONTINUAR</button>
                            </div>
                        </div>

                        <!-- <div class="row my-4 justify-content-between">
                            <div class="col-4 d-none d-sm-block">
                                <button type="button" class="btn button btn-block">REGRESAR</button>
                            </div>
                            <div class="col-4 d-block d-sm-none">
                                <button type="button" class="btn button btn-block">&lt;</button>
                            </div>
                            <div class="col-4 d-none d-sm-block">
                                <button type="button" [disabled]="!contactForm.valid" class="btn button btn-block" (click)="onSubmitContactForm()">CONTINUAR</button>
                            </div>
                            <div class="col-4 d-block d-sm-none">
                                <button type="button" [disabled]="!contactForm.valid" class="btn button btn-block" (click)="onSubmitContactForm()">&gt;</button>
                            </div>
                        </div> -->
                    </form>

                </div>
            </div>
        </div>
    </div>
</section>