<section class="container">
    <div class="row justify-content-center">

        <div class="col-4 d-block d-md-none text-center">
            <img src="/assets/img/asesori-logo-negative.png" width="90px" height="90px" class="" alt="ASESORI" routerLink="/homepage">
        </div>

        <div class="d-none d-lg-block col-3">
            <div class="row">
                <div class="col bg-4 text-center">
                    <img class="img-fluid mt-4" width="95px" height="95px" src="/assets/img/asesori-logo-negative.png">

                    <ul class="timeline text-left text-uppercase tittle-19 color-6">
                        <li class="primero">
                            <summary class="color-1 tittle-20">Identificación</summary>
                            <p class="mt-4 color-1">datos personales</p>
                            <p [routerLink]="location_data ? '/insurance/results/identification/location' : null" [ngClass]="{'pointer color-1': location_data, 'not-allowed':!location_data}">domicilio actual
                            </p>
                            <p [routerLink]="contact_data ? '/insurance/results/identification/contact' : null" [ngClass]="{'pointer color-1': contact_data, 'not-allowed':!contact_data}">contacto</p>
                        </li>
                        <li class="segundo">
                            <summary [routerLink]="vehicle_data ? '/insurance/results/vehicle' : null" [ngClass]="{'pointer color-1': vehicle_data, 'not-allowed':!vehicle_data}">Información vehícular
                            </summary>
                            <p class="mt-4" [routerLink]="vehicle_data ? '/insurance/results/vehicle/data' : null" [ngClass]="{'pointer color-1': vehicle_data, 'not-allowed':!vehicle_data}">el vehículo
                            </p>
                        </li>
                        <li class="tercero">
                            <summary [routerLink]="(personal_data && location_data && contact_data && vehicle_data) ? '/insurance/results/my-insurance' : null" [ngClass]="{'pointer color-1': (personal_data && location_data && contact_data && vehicle_data), 'not-allowed':!(personal_data && location_data && contact_data && vehicle_data)}">
                                Mi seguro</summary>
                            <p class="mt-4" [routerLink]="(personal_data && location_data && contact_data && vehicle_data) ? '/insurance/results/my-insurance/summary' : null" [ngClass]="{'pointer color-1': (personal_data && location_data && contact_data && vehicle_data), 'not-allowed':!(personal_data && location_data && contact_data && vehicle_data)}">
                                solicitud</p>
                        </li>
                        <li class="cuarto">
                            <summary>Solicitud lista</summary>
                        </li>
                    </ul>

                </div>
            </div>
            <div class="row mt-3 mx-1">
                <div class="col-12">
                    <p class="tittle-10">Tienes la seguridad y confianza</p>
                    <p class="text-light-14">Para nosotros es primordial brindarte toda la seguridad posible y confianza que necesitas durante todo el proceso. Estamos avalados por</p>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-austro-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-biess-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-bolivariano-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-dinnersClub-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-guayaquil-188x100.png">
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9">

            <div class="d-none d-sm-flex row mx-2 mx-md-0 justify-content-sm-end pt-4">
                <div class="col-9 col-sm-3 px-md-0">
                    <progressbar [value]="percentage"></progressbar>
                </div>
                <div class="col-1 col-sm-1 text-right">
                    {{percentage}}%
                </div>
            </div>

            <div class="row mx-2 mx-md-0 justify-content-center pt-4">

                <div class="col-12 col-lg-8">

                    <h2 class="tittle-1 mb-2 d-none d-sm-block">Identificación</h2>
                    <p class="tittle-7 text-uppercase d-sm-none d-block color-1">Identificación</p>

                    <div class="row d-sm-none d-flex py-3">
                        <div class="col-10">
                            <progressbar [value]="percentage"></progressbar>
                        </div>
                        <div class="col-2 text-right">
                            {{percentage}}%
                        </div>
                    </div>

                    <p class="text-light-14 d-none d-sm-block">Con Asesori puedes acceder a varias opciones en donde puedes comparar la mejor opción de Seguro Vehícular.</p>

                    <div class="row pt-4 pb-0 pb-sm-3 justify-content-center">
                        <div class="col-10 col-sm-4">
                            <p class="text-center text-sm-left tittle-8 color-1">Datos personales</p>
                            <div class="mt-4 d-none d-sm-block separator"></div>
                        </div>
                        <div class="col-10 col-sm-4 d-none d-sm-block">
                            <p [routerLink]="location_data ? '/insurance/results/identification/location' : null" [ngClass]="{'pointer': location_data, 'not-allowed':!location_data}" class="tittle-8 text-center text-sm-left color-7">Domicilio actual</p>
                        </div>
                        <div class="col-10 col-sm-4 d-none d-sm-block">
                            <p [routerLink]="contact_data ? '/insurance/results/identification/contact' : null" [ngClass]="{'pointer': contact_data, 'not-allowed':!contact_data}" class="tittle-8 text-center text-sm-left color-7">Contacto</p>
                        </div>
                    </div>


                    <form [formGroup]="personalDataForm">

                        <div class="row my-0 my-md-4">
                            <div class="col-12 col-md-6 my-md-0 my-4">
                                <div class="position-relative">
                                    <input type="text" [attr.disabled]="hasCedula ? '' : null" formControlName="dni" class="floating-input form-control" required placeholder=" " [ngClass]="{ 'is-invalid': isFieldValidPersonalData('dni')}" (blur)="updatePercentageDni()">
                                    <label class="floating-label text-uppercase">número de identidad*</label>
                                    <div *ngIf="isFieldValidPersonalData('dni')" class="invalid-feedback">
                                        <span>Ingrese su cédula!</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-md-6">
                                <ng-select appearance="outline" class="custom" [items]="maritalStatus" formControlName="maritalStatus" placeholder="estado civil*" (change)="updatePercentageMaritalStatus()" [searchable]="false" bindLabel="status" [clearable]="false">
                                </ng-select>
                                <div *ngIf="isFieldValidPersonalData('maritalStatus')" class="invalid-select">
                                    <span>Seleccione su estado civil!</span>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-4 mt-4 mt-md-0">
                            <div class="col-12">
                                <div class="position-relative">
                                    <input type="text" formControlName="names" class="floating-input form-control text-uppercase" required placeholder=" " [ngClass]="{ 'is-invalid': isFieldValidPersonalData('names')}" (blur)="updatePercentageNames()">
                                    <label class="floating-label">nombres*</label>
                                    <div *ngIf="isFieldValidPersonalData('names')" class="invalid-feedback">
                                        <span>Ingrese sus nombres!</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row my-0">
                            <div class="col-12">
                                <div class="position-relative">
                                    <input type="text" formControlName="last_names" class="floating-input form-control text-uppercase" required placeholder=" " [ngClass]="{ 'is-invalid': isFieldValidPersonalData('last_names')}" (blur)="updatePercentageLast_names()">
                                    <label class="floating-label">apellidos*</label>
                                    <div *ngIf="isFieldValidPersonalData('last_names')" class="invalid-feedback">
                                        <span>Ingrese sus apellidos!</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row my-4">
                            <div class="col-12">
                                <div class="position-relative">
                                    <input type="text" formControlName="birthday" placeholder=" " [bsConfig]="dpConfig" class="floating-input form-control" bsDatepicker>
                                    <label class="floating-label">fecha de nacimiento</label>
                                </div>
                                <!-- <div class="position-relative">
                                    <input type="date" formControlName="birthday" placeholder=" " class="floating-input form-control">
                                    <label class="floating-label">fecha de nacimiento</label>
                                </div> -->
                            </div>
                        </div>
                        <div class="row my-4 justify-content-center">
                            <div class="col-12 col-md-4">
                                <button type="button" [disabled]="!personalDataForm.valid" class="btn button btn-block" (click)="onSubmitPersonalDataForm()">CONTINUAR</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>