<main #calculator class="bg-1 main-top-80">

    <div class="container py-0">
        <div class="row justify-content-center bg-0">
            <div class="col-4 d-block d-md-none text-center">
                <img src="/assets/img/asesori-logo-negative.png" width="90px" height="90px" class="" alt="ASESORI" routerLink="/homepage">
            </div>
        </div>
    </div>

    <br><br>

    <section *ngIf="calculatorSection" class="container bg-0 p-5">

        <p class="tittle-9">Para mi vehículo</p>
        <hr class="my-4">
        <p class="text-light-14">Conoce las diferentes opciones de seguros que puedes tener.
        </p>

        <form [formGroup]="vehicleform">

            <div class="row px-3 pt-4 justify-content-between">
                <div class="box-values-insurance my-2 my-md-0">
                    <ng-select class="custom2" [items]="vehicleBrand" formControlName="vehicleBrand" (change)="changeCarBrand($event)" [searchable]="true" bindLabel="brand_name" placeholder="marca*" [clearable]="false">
                    </ng-select>
                    <div *ngIf="isFieldValidVehicleform('vehicleBrand')" class="invalid-select">
                        <span>Seleccione una marca!</span>
                    </div>
                </div>
                <div class="box-values-insurance my-2 my-md-0">
                    <ng-select class="custom2" [items]="vehicleYear" formControlName="vehicleYear" placeholder="año*" [searchable]="true" bindLabel="year" (change)="changeCarYear($event)" [clearable]="false">
                    </ng-select>
                    <div *ngIf="isFieldValidVehicleform('vehicleYear')" class="invalid-select">
                        <span>Seleccione un año!</span>
                    </div>
                </div>
                <div class="box-values-insurance my-2 my-md-0">
                    <ng-select class="custom2" [items]="vehicleModel" formControlName="vehicleModel" placeholder="modelo*" [searchable]="true" bindLabel="model_name" (change)="changeCarModel($event)" [clearable]="false">
                    </ng-select>
                    <div *ngIf="isFieldValidVehicleform('vehicleModel')" class="invalid-select">
                        <span>Seleccione un modelo!</span>
                    </div>
                </div>
                <div class="box-values-insurance my-2 my-md-0">
                    <ng-select class="custom2 custom3" [items]="vehicleDescription" formControlName="vehicleDescription" placeholder="descripcion*" [searchable]="false" bindLabel="description" [clearable]="false">
                    </ng-select>
                    <div *ngIf="isFieldValidVehicleform('vehicleDescription')" class="invalid-select">
                        <span>Seleccione la descripción!</span>
                    </div>
                </div>
            </div>

        </form>

        <!-- CALCULATE INSURANCE BUTTON -->
        <div class="row mt-4 justify-content-center px-0">
            <div class="col-md-6 col-lg-3">
                <button type="button" [disabled]="!vehicleform.valid" class="btn button-calculate btn-block" (click)="onSubmitServiceform(calculator)">CALCULAR</button>
            </div>
        </div>

    </section>

    <!-- EMAIL & STEPS SECTION -->
    <form [formGroup]="emailform" novalidate (ngSubmit)="onSubmitEmailSection()">
        <section *ngIf="emailSection" class="container bg-0 p-5">


            <div class="row px-4 px-md-0">
                <div class="col-12">
                    <h4 class="tittle-9 mt-4 mb-3 text-uppercase"><b>Estas a un solo paso, ingresa tu email,
                            provincia y ciudad</b>
                    </h4>
                    <p class="text-light-14">Antes de conocer las mejores opciones de crédito es importante que ingreses los siguientes datos. </p>
                </div>

                <div class="col-12 col-md-6 py-2 py-md-0">
                    <div class="position-relative">
                        <input type="email" [attr.disabled]="hasEmail ? '' : null" formControlName="email" class="floating-input form-control" placeholder=" " required [ngClass]="{ 'is-invalid': emailForm.email.touched && emailForm.email.errors}">
                        <label class="floating-label">correo electronico*</label>
                        <div *ngIf="emailForm.email.touched && emailForm.email.errors" class="invalid-feedback">
                            <span>Ingrese correo electrónico!</span>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-3 py-2 py-md-0">
                    <ng-select appearance="outline" [items]="provinces" placeholder="provincia*" formControlName="province" (change)="changeProvince($event)" [searchable]="true" bindLabel="name" [clearable]="false">
                    </ng-select>
                    <div *ngIf="isFieldValidemailForm('province')" class="invalid-select">
                        <span>Seleccione una provincia!</span>
                    </div>
                </div>

                <div class="col-12 col-md-3 py-2 py-md-0">
                    <ng-select appearance="outline" [items]="cities" placeholder="ciudad*" formControlName="city" [searchable]="true" bindLabel="name" [clearable]="false" required>
                    </ng-select>
                    <div *ngIf="isFieldValidemailForm('city')" class="invalid-select">
                        <span>Seleccione una ciudad!</span>
                    </div>
                </div>
            </div>

            <div class="row px-4 px-md-0 mt-2 mb-3 mt-md-4 justify-content-end">
                <div class="col-md-3">
                    <button type="submit" [disabled]="emailform.invalid" class="btn button btn-block">CONTINUAR</button>
                </div>
            </div>

        </section>
    </form>

    <br><br>

</main>