<!-- Hero Section -->
<section class="container">
  <div class="row align-items-center">
    <div class="col-4 d-block d-md-none text-center">
      <img src="/assets/images/asesori-logo-negative.png" width="90" height="90" alt="Asesori" routerLink="/homepage">
    </div>
    <div class="col-12 col-md-6">
      <h1 class="">¿Necesitas un crédito para tu casa?</h1>
      <p>Asesori te facilita las mejores opciones para que puedas acceder rápido y seguro al
        crédito que necesites.</p>
      <a routerLink="/" class="btn btn-primary text-uppercase mt-4" role="button">Inicia una solicitud</a>
    </div>
    <div class="col-12 col-md-6">
      <div class="d-flex bg-img align-items-center justify-content-center">
        <h5 class="text-white text-uppercase">Trabajamos con</h5>
      </div>
    </div>
  </div>
</section>


<!-- How to works -->
<section class="container-fluid bg-light mt-5">
  <div class="container">
    <div class="row py-5 justify-content-between align-items-center">
      <small class="col-12 col-md-2 text-uppercase fw-bold">¿Como trabaja Asesori?</small>
      <div class="col-12 col-md-2 d-flex align-items-center px-0">
        <span class="circle bg-primary text-white rounded-circle me-3">1</span>
        <small class="">Selecciona el crédito al que deseas aplicar</small>
      </div>
      <div class="col-12 col-md-2 d-flex align-items-center px-0">
        <span class="circle bg-primary text-white rounded-circle me-3">2</span>
        <small class="">Ingresa el monto, entrada y plazo</small>
      </div>
      <div class="col-12 col-md-2 d-flex align-items-center px-0">
        <span class="circle bg-primary text-white rounded-circle me-3">3</span>
        <small class="">Ingresa tus datos para una solicitud</small>
      </div>
      <div class="col-12 col-md-2 d-flex align-items-center px-0">
        <span class="circle bg-primary text-white rounded-circle me-3">4</span>
        <small class="">Presentar las mejores opciones de crédito</small>
      </div>
    </div>
  </div>
</section>

<!-- calculator -->

<section class="container mt-5">
  <div class="row">
    <div class="col-12">
      <h6 class="text-uppercase fw-bold pb-3">Compara las mejores tasas y oportunidades de financiamiento</h6>
      <p>ASESORI te permite comparar las diferentes opciones de crédito, seguros, tarjetas de crédito y pólizas de
        inversión que ofrecen los Bancos, Cooperativas o Mutualistas, utiliza nuestra calculadora a continuación y
        compara.</p>
    </div>
  </div>
</section>

<!-- Ranking -->

<section class="container mt-5">
  <div class="row">
    <div class="col-12 col-md-4">
      <h2>Ranking Asesori</h2>
      <p class="text-16">Te enseñamos una calificación de Asesori hacia las instituciones financieras en base a su tasa
        de interés, Cantidad de trámites y tiempo en aprobación de tu solicitud
      </p>
    </div>
    <!-- RATING FINANCIAL ENTITY -->
    <div class="col-12 col-lg-8 my-2 my-lg-0">

      <div class="row justify-content-center justify-content-lg-end">
        <div class="col-10 col-md-4">
          <!-- <ng-select appearance="outline" class="custom" placeholder="filtro" [searchable]="false" [clearable]="false">
                  <ng-option>Todos</ng-option>
                  <ng-option>Bancos</ng-option>
                  <ng-option>Cooperativas</ng-option>
              </ng-select> -->
        </div>
        <div class="col-10 col-md-4 mt-3 mt-md-0">
          <!-- <ng-select appearance="outline" class="custom" placeholder="ordenar por" [searchable]="false" bindLabel="status" [clearable]="false">
                  <ng-option>Calificación</ng-option>
                  <ng-option>Tasa</ng-option>
              </ng-select> -->
        </div>
      </div>

      <div class="row text-center justify-content-between">
        <div class="col-md-3">
          <img src="/assets/images/financial-entities/banco-guayaquil-188x100.png" class="img-fluid" alt="">
        </div>
        <div class="col-6 col-md-2">
          <span class="text-extra-small">Tasa de interés anual</span>
          <span class="d-block fw-bold mt-1">9.81%</span>
        </div>
        <div class="col-6 col-md-2">
          <small class="text-extra-small">Tiempo de aprobación</small>
          <span class="d-block fw-bold mt-1">72 horas</span>
        </div>
        <div class="col-6 col-md-2">
          <small class="text-extra-small">Cantidad de trámites</small>
          <span class="d-block fw-bold mt-1">CORTO</span>
        </div>
        <div class="col-6 col-md-2">
          <small class="text-extra-small">Calificación obtenida</small>
          <!-- <rating [(ngModel)]="rate" [max]="max" class="rating" [readonly]="true"></rating> -->
          <span class="d-block fw-bold mt-1">99/100</span>
        </div>
      </div>
      <hr>
      <div class="row text-center justify-content-between">
        <div class="col-md-3">
          <img src="/assets/images/financial-entities/banco-pichincha-188x100.png" class="img-fluid" alt="">
        </div>
        <div class="col-6 col-md-2">
          <span class="text-extra-small">Tasa de interés anual</span>
          <span class="d-block fw-bold mt-1">9.81%</span>
        </div>
        <div class="col-6 col-md-2">
          <small class="text-extra-small">Tiempo de aprobación</small>
          <span class="d-block fw-bold mt-1">72 horas</span>
        </div>
        <div class="col-6 col-md-2">
          <small class="text-extra-small">Cantidad de trámites</small>
          <span class="d-block fw-bold mt-1">CORTO</span>
        </div>
        <div class="col-6 col-md-2">
          <small class="text-extra-small">Calificación obtenida</small>
          <!-- <rating [(ngModel)]="rate" [max]="max" class="rating" [readonly]="true"></rating> -->
          <span class="d-block fw-bold mt-1">99/100</span>
        </div>
      </div>
      <hr>
      <div class="row text-center justify-content-between">
        <div class="col-md-3">
          <img src="/assets/images/financial-entities/banco-austro-188x100.png" class="img-fluid" alt="">
        </div>
        <div class="col-6 col-md-2">
          <span class="text-extra-small">Tasa de interés anual</span>
          <span class="d-block fw-bold mt-1">9.81%</span>
        </div>
        <div class="col-6 col-md-2">
          <small class="text-extra-small">Tiempo de aprobación</small>
          <span class="d-block fw-bold mt-1">72 horas</span>
        </div>
        <div class="col-6 col-md-2">
          <small class="text-extra-small">Cantidad de trámites</small>
          <span class="d-block fw-bold mt-1">CORTO</span>
        </div>
        <div class="col-6 col-md-2">
          <small class="text-extra-small">Calificación obtenida</small>
          <!-- <rating [(ngModel)]="rate" [max]="max" class="rating" [readonly]="true"></rating> -->
          <span class="d-block fw-bold mt-1">99/100</span>
        </div>
      </div>
      <hr>
      <div class="row  text-center justify-content-between">
        <div class="col-md-3">
          <img src="/assets/images/financial-entities/cooperativa-jardinAzuayo-188x100.png" class="img-fluid" alt="">
        </div>
        <div class="col-6 col-md-2">
          <span class="text-extra-small">Tasa de interés anual</span>
          <span class="d-block fw-bold mt-1">9.81%</span>
        </div>
        <div class="col-6 col-md-2">
          <small class="text-extra-small">Tiempo de aprobación</small>
          <span class="d-block fw-bold mt-1">72 horas</span>
        </div>
        <div class="col-6 col-md-2">
          <small class="text-extra-small">Cantidad de trámites</small>
          <span class="d-block fw-bold mt-1">CORTO</span>
        </div>
        <div class="col-6 col-md-2">
          <small class="text-extra-small">Calificación obtenida</small>
          <!-- <rating [(ngModel)]="rate" [max]="max" class="rating" [readonly]="true"></rating> -->
          <span class="d-block fw-bold mt-1">99/100</span>
        </div>
      </div>
      <hr>

      <nav class="pt-4" aria-label="Page navigation">
        <ul class="pagination justify-content-end">
          <li class="page-item disabled">
            <a class="page-link fw-bolder text-uppercase" routerLink="/" tabindex="-1" aria-disabled="true">Anterior</a>
          </li>
          <li class="page-item active" aria-current="page"><a class="page-link" routerLink="/">1</a></li>
          <li class="page-item"><a class="page-link" routerLink="/">2</a></li>
          <li class="page-item"><a class="page-link" routerLink="/">3</a></li>
          <li class="page-item">
            <a routerLink="/" class="page-link fw-bolder text-uppercase">Siguiente</a>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</section>