<main class="main-top-50">

    <!-- INITIAL SECTION -->

    <section class="container">
        <div class="row justify-content-center">
            <div class="col-4 d-block d-md-none text-center">
                <img src="/assets/img/asesori-logo-negative.png" width="90px" height="90px" class="" alt="ASESORI" routerLink="/homepage">
            </div>
            <div class="col-12 col-md-6 px-5 px-md-4">
                <div class="text-center text-lg-left my-md-5 d-none d-md-block">
                    &nbsp;
                </div>
                <h1 class="tittle-1 mt-4 mt-md-5 mb-3">¿Necesitas un crédito para tu casa?</h1>
                <p class="text-light-16">Asesori te facilita las mejores opciones para que puedas acceder rápido y seguro al crédito que necesites.</p>
                <div class="row mt-5">
                    <div class="col-12 col-lg-6">
                        <button type="button" (click)="moveSection(calculator)" class="btn button btn-block">INICIA UNA
                            SOLICITUD</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-6 my-4 my-lg-0">
                <div class="row bg-img align-items-center mx-0">
                    <div class="col">
                        <h3 class="text-white text-center text-uppercase pb-4 tittle-16">Trabajamos con</h3>
                        <owl-carousel-o [options]="customOptions">
                            <ng-template carouselSlide>
                                <div class="bg-0 mx-1 rounded">
                                    <img src="/assets/img/financial-entities/banco-austro-188x100.png">
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="bg-0 mx-1 rounded">
                                    <img src="/assets/img/financial-entities/banco-biess-188x100.png">
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="bg-0 mx-1 rounded">
                                    <img src="/assets/img/financial-entities/banco-bolivariano-188x100.png">
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="bg-0 mx-1 rounded">
                                    <img src="/assets/img/financial-entities/banco-dinnersClub-188x100.png">
                                </div>
                            </ng-template>
                            <ng-template carouselSlide>
                                <div class="bg-0 mx-1 rounded">
                                    <img src="/assets/img/financial-entities/banco-guayaquil-188x100.png">
                                </div>
                            </ng-template>
                        </owl-carousel-o>

                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- NEW ADVANTAGES SECTION -->

    <section class="container-fluid bg-1">

        <div class="container px-3">

            <div #calculator></div>

            <div class="row justify-content-around align-items-center">
                <div class="col-12 col-lg-2">
                    <p class="tittle-3-spacing text-uppercase">¿Como trabaja Asesori?</p>
                </div>
                <div class="col-12 col-md-2 px-md-0">
                    <div class="row justify-content-lg-start justify-content-center">
                        <div class="col-2 col-sm-4 col-lg-3 pl-1">
                            <button type="button" class="btn btn-circle">1</button>
                        </div>
                        <div class="col-9 col-sm-7 col-lg-9 pl-1 pr-0 mt-2">
                            <p class="text-14">Selecciona el crédito al que deseas aplicar</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2 px-md-0 my-2 my-md-0">
                    <div class="row justify-content-lg-start justify-content-center">
                        <div class="col-2 col-sm-4 col-lg-3 pl-1">
                            <button type="button" class="btn btn-circle">2</button>
                        </div>
                        <div class="col-9 col-sm-7 col-lg-9 pl-1 pr-0 mt-2">
                            <p class="text-14">Ingresa el monto, entrada y plazo</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2 px-md-0 my-2 my-md-0">
                    <div class="row justify-content-lg-start justify-content-center">
                        <div class="col-2 col-sm-4 col-lg-3 pl-1">
                            <button type="button" class="btn btn-circle">3</button>
                        </div>
                        <div class="col-9 col-sm-7 col-lg-9 pl-1 pr-0 mt-2">
                            <p class="text-14">Ingresa tus datos para una solicitud</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-2 px-md-0">
                    <div class="row justify-content-lg-start justify-content-center">
                        <div class="col-2 col-sm-4 col-lg-3 pl-1">
                            <button type="button" class="btn btn-circle">4</button>
                        </div>
                        <div class="col-9 col-sm-7 col-lg-9 pl-1 pr-0 mt-2">
                            <p class="text-14">Presentar las mejores opciones de crédito</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <!-- CALCULATOR & SERVICES OPTIONS -->

    <section *ngIf="calculatorSection" class="container">

        <div class="row px-4 px-md-0">
            <div class="col-12 my-4">
                <h4 class="tittle-9 mb-4 text-uppercase"><b>COMPARA LAS MEJORES TASAS Y OPORTUNIDADES DE
                        FINANCIAMIENTO</b>
                </h4>
                <p class="text-light-14">ASESORI te permite comparar las diferentes opciones de crédito, seguros, tarjetas de crédito y pólizas de inversión que ofrecen los Bancos, Cooperativas o Mutualistas, utiliza nuestra calculadora a continuación y compara.</p>
            </div>
        </div>

        <form [formGroup]="serviceform">

            <!-- SERVICES TAGS -->

            <div class="row kudos-wrap mx-3 mx-md-0 justify-content-between">

                <input type="radio" (change)="onSelectServiceTag($event)" formControlName="service_type_userSelected" value="creditos" id="credito">
                <label for="credito" class="my-2 my-lg-0 px-4 btn-selection">
                    <div class="media py-4">
                        <div class="media">
                            <img src="/assets/img/iconos/dinero.png" width="40px" height="40px" alt="">
                        </div>
                        <div class="media-body pt-3 pl-3">
                            <p>Crédito</p>
                        </div>
                    </div>
                    <span class="badge selected-service-tag">✓</span>
                </label>

                <input type="radio" (change)="onSelectServiceTag($event)" formControlName="service_type_userSelected" value="seguros" id="seguros">
                <label for="seguros" class="my-2 my-lg-0 px-4 btn-selection">
                    <div class="media py-4">
                        <div class="media">
                            <img src="/assets/img/iconos/children-parents@3x.png" width="40px" height="40px" alt="">
                        </div>
                        <div class="media-body pt-3 pl-3">
                            <p>Seguros</p>
                        </div>
                    </div>
                    <span class="badge selected-service-tag">✓</span>
                </label>

                <input type="radio" (change)="onSelectServiceTag($event)" formControlName="service_type_userSelected" value="tarjetas" id="tarjetas">
                <label for="tarjetas" class="my-2 my-lg-0 px-4 btn-selection">

                    <div class="media py-4">
                        <div class="media mt-2">
                            <img src="/assets/img/iconos/master-card.png" width="40px" height="30px" alt="">
                        </div>
                        <div class="media-body pt-2 pl-3">
                            <p>Tarjetas de crédito</p>
                        </div>
                    </div>
                    <span class="badge selected-service-tag">✓</span>
                </label>

                <input type="radio" (change)="onSelectServiceTag($event)" formControlName="service_type_userSelected" value="poliza" id="poliza">
                <label for="poliza" class="my-2 my-lg-0 px-4 btn-selection">
                    <div class="media py-4">
                        <div class="media">
                            <img src="/assets/img/iconos/bar@3x.png" width="40px" height="35px" alt="">
                        </div>
                        <div class="media-body pt-3 pl-3">
                            <p>Póliza de inversion</p>
                        </div>
                    </div>
                    <span class="badge selected-service-tag">✓</span>
                </label>

            </div>

        </form>

        <!-- OPTIONS SELECT -->
        <div class="row px-3 px-md-0 my-4">

            <!-- CREDITS SELECT -->
            <div *ngIf="active_credits_select" class="col-12">
                <ng-select appearance="outline" [items]="credits_select" (change)="onSelectCreditOption($event)" placeholder="opciones de crédito" [searchable]="false" bindLabel="name" bindValue="id" [clearable]="false">
                    <ng-template ng-label-tmp let-item="item">
                        <i class="fas fa-check-circle color-1"></i> <span class="tittle-9 color-1 ml-2 mr-3">{{item.name}}</span><span class="text-14 color-1">({{item.description}})</span>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="container py-0">
                            <div class="row px-3 px-md-5 row-hover">
                                <div class="col-12 col-lg-2">
                                    <span class="tittle-9 py-0">{{item.name}}</span>
                                </div>
                                <div class="col-12 col-lg-10">
                                    <span class="text-14 py-0">({{item.description}})</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-select>
            </div>

            <!-- INSURANCE SELECT -->
            <div *ngIf="active_insurance_select" class="col-12">
                <ng-select appearance="outline" [items]="insurance_select" (change)="onSelectInsuranceOption($event)" placeholder="opciones de seguros" [searchable]="false" bindLabel="name" bindValue="id" [clearable]="false">
                    <ng-template ng-label-tmp let-item="item">
                        <i class="fas fa-check-circle color-1"></i> <span class="tittle-9 color-1 ml-2 mr-3">{{item.name}}</span><span class="text-14 color-1">({{item.description}})</span>
                    </ng-template>
                    <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                        <div class="container py-0">
                            <div class="row px-3 px-md-5 row-hover">
                                <div class="col-12 col-lg-2">
                                    <span class="tittle-9 py-0">{{item.name}}</span>
                                </div>
                                <div class="col-12 col-lg-10">
                                    <span class="text-14 py-0">({{item.description}})</span>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </ng-select>
            </div>

            <div *ngIf="active_creditCard_select" class="col-12">
                <alert type="warning">
                    El servicio de <span class="tittle-10">Tarjetas de crédito</span> aún no se encuentra disponible!
                </alert>
            </div>

            <div *ngIf="active_investmentPolicy_select" class="col-12">
                <alert type="warning">
                    El servicio de <span class="tittle-10">Póliza de inversión</span> aún no se encuentra disponible!
                </alert>
            </div>

        </div>

        <!-- VALUES BOX -->
        <div *ngIf="creditSection" class="row justify-content-between mx-3 mx-md-0">
            <div class="my-2 my-lg-0  box-values-slider">
                <div class="custom-slider">
                    <p class="header-box-values-slider mb-4 text-uppercase"><b>monto a solicitar*</b></p>
                    <ng5-slider [(value)]="amountRequest.value" [options]="amountRequest.options"></ng5-slider>
                    <p class="tittle-11 text-right mt-2 mb-0">Dólares americanos</p>
                </div>
            </div>
            <div class="my-2 my-lg-0  box-values-slider">
                <div class="custom-slider">
                    <p class="header-box-values-slider mb-4 text-uppercase"><b>entrada</b></p>
                    <ng5-slider [(value)]="entryAmount.value" [options]="entryAmount.options"></ng5-slider>
                    <p class="tittle-11 text-right mt-2 mb-0">Valor opcional</p>
                </div>
            </div>
            <div class="my-2 my-lg-0  box-values-slider">
                <div class="custom-slider">
                    <p class="header-box-values-slider mb-4 text-uppercase"><b>ingreso mensual*</b></p>
                    <ng5-slider [(value)]="monthlyIncome.value" [options]="monthlyIncome.options"></ng5-slider>
                    <p class="tittle-11 text-right mt-2 mb-0">Sueldo mensual</p>
                </div>
            </div>
            <div class="my-2 my-lg-0 box-values-slider">
                <div class="custom-slider">
                    <p class="header-box-values-slider mb-4 text-uppercase"><b>tiempo plazo*</b></p>
                    <ng5-slider [(value)]="term.value" [options]="term.options"></ng5-slider>
                    <p class="tittle-11 text-right mt-2 mb-0">Meses</p>
                </div>
            </div>
        </div>

        <div *ngIf="creditSection" class="row justify-content-between mt-4 mb-0 px-3 px-md-0">
            <div class="col-12">
                <alert *ngIf="(entryAmount.value > (amountRequest.value * 0.9))" type="danger">
                    La entrada no puede superar el 90% del valor a solicitar!
                </alert>
            </div>
        </div>


        <form [formGroup]="vehicleform">

            <div *ngIf="insuranceSectionValues" class="row mx-3 mx-md-0 justify-content-between">
                <div class="box-values-insurance my-2 my-md-0">
                    <ng-select class="custom2" [items]="vehicleBrand" formControlName="vehicleBrand" (change)="changeCarBrand($event)" [searchable]="true" bindLabel="brand_name" placeholder="marca*" [clearable]="false">
                    </ng-select>
                    <div *ngIf="isFieldValidVehicleform('vehicleBrand')" class="invalid-select">
                        <span>Seleccione una marca!</span>
                    </div>
                </div>
                <div class="box-values-insurance my-2 my-md-0">
                    <ng-select class="custom2" [items]="vehicleYear" formControlName="vehicleYear" placeholder="año*" [searchable]="true" bindLabel="year" (change)="changeCarYear($event)" [clearable]="false">
                    </ng-select>
                    <div *ngIf="isFieldValidVehicleform('vehicleYear')" class="invalid-select">
                        <span>Seleccione un año!</span>
                    </div>
                </div>
                <div class="box-values-insurance my-2 my-md-0">
                    <ng-select class="custom2" [items]="vehicleModel" formControlName="vehicleModel" placeholder="modelo*" [searchable]="true" bindLabel="model_name" (change)="changeCarModel($event)" [clearable]="false">
                    </ng-select>
                    <div *ngIf="isFieldValidVehicleform('vehicleModel')" class="invalid-select">
                        <span>Seleccione un modelo!</span>
                    </div>
                </div>
                <div class="box-values-insurance my-2 my-md-0">
                    <ng-select class="custom2 custom3" [items]="vehicleDescription" formControlName="vehicleDescription" placeholder="descripcion*" [searchable]="false" bindLabel="description" [clearable]="false">
                    </ng-select>
                    <div *ngIf="isFieldValidVehicleform('vehicleDescription')" class="invalid-select">
                        <span>Seleccione la descripción!</span>
                    </div>
                </div>
            </div>

        </form>

        <!-- REDIRECT TO EMAIL SECTION -->
        <div #email></div>

        <!-- CALCULATE CREDIT BUTTON -->
        <div *ngIf="creditSection" class="row mt-4 justify-content-center mx-0 px-md-0">
            <div class="col-md-6 col-lg-3">
                <button type="button" class="btn button-calculate btn-block" [disabled]="amountRequest.value == 0 || monthlyIncome.value == 0 || term.value == 0 || entryAmount.value > (amountRequest.value * 0.9)" (click)="onSubmitServiceform(calculator)">CALCULAR</button>
            </div>
        </div>

        <!-- CALCULATE INSURANCE BUTTON -->
        <div *ngIf="insuranceSection" class="row my-5 justify-content-center mx-0 px-md-0">
            <div class="col-md-6 col-lg-3">
                <button type="button" class="btn button-calculate btn-block" [disabled]="!vehicleform.valid" (click)="onSubmitServiceform(calculator)">CALCULAR</button>
            </div>
        </div>


    </section>

    <!-- EMAIL & STEPS SECTION -->
    <form [formGroup]="emailform" novalidate (ngSubmit)="onSubmitEmailSection()">
        <section *ngIf="emailSection" class="container-fluid bg-5">

            <div class="container bg-0 px-2 px-md-5 py-5">
                <div class="row px-4 px-md-0">
                    <div class="col-12">
                        <h4 class="tittle-9 mt-4 mb-3 text-uppercase"><b>Estas a un solo paso, ingresa tu email,
                                provincia y ciudad</b>
                        </h4>
                        <p class="text-light-14">Antes de conocer las mejores opciones de crédito es importante que ingreses los siguientes datos. </p>
                    </div>

                    <div class="col-12 col-md-6 py-2 py-md-0">
                        <div class="position-relative">
                            <input type="email" [attr.disabled]="hasEmail ? '' : null" formControlName="email" class="floating-input form-control" placeholder=" " required [ngClass]="{ 'is-invalid': emailForm.email.touched && emailForm.email.errors}">
                            <label class="floating-label">correo electronico*</label>
                            <div *ngIf="emailForm.email.touched && emailForm.email.errors" class="invalid-feedback">
                                <span>Ingrese correo electrónico!</span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-3 py-2 py-md-0">
                        <ng-select appearance="outline" [items]="provinces" placeholder="provincia*" formControlName="province" (change)="changeProvince($event)" [searchable]="true" bindLabel="name" [clearable]="false">
                        </ng-select>
                        <div *ngIf="isFieldValidemailForm('province')" class="invalid-select">
                            <span>Seleccione una provincia!</span>
                        </div>
                    </div>

                    <div class="col-12 col-md-3 py-2 py-md-0">
                        <ng-select appearance="outline" [items]="cities" placeholder="ciudad*" formControlName="city" [searchable]="true" bindLabel="name" [clearable]="false" required>
                        </ng-select>
                        <div *ngIf="isFieldValidemailForm('city')" class="invalid-select">
                            <span>Seleccione una ciudad!</span>
                        </div>
                    </div>
                </div>

                <div class="row px-4 px-md-0 mt-2 mb-3 mt-md-4 justify-content-end">
                    <div class="col-md-3">
                        <button type="submit" [disabled]="emailform.invalid" class="btn button btn-block">CONTINUAR</button>
                    </div>
                </div>

            </div>
        </section>
    </form>


    <!-- RANKING SECTION -->

    <section class="container">

        <div class="row">

            <!-- RANKING TEXT -->
            <div class="col-12 col-lg-4 my-2 my-lg-0 px-5 text px-md-3">
                <h2 class="tittle-17">Ranking Asesori</h2>
                <div class="my-4 line-separator"></div>
                <p class="text-16">Te enseñamos una calificación de Asesori hacia las instituciones financieras en base a su tasa de interés, Cantidad de trámites y tiempo en aprobación de tu solicitud
                </p>
            </div>

            <!-- RATING FINANCIAL ENTITY -->
            <div class="col-12 col-lg-8 my-2 my-lg-0">

                <div class="row justify-content-center justify-content-lg-end">
                    <div class="col-10 col-md-4">
                        <ng-select appearance="outline" class="custom" placeholder="filtro" [searchable]="false" [clearable]="false">
                            <ng-option>Todos</ng-option>
                            <ng-option>Bancos</ng-option>
                            <ng-option>Cooperativas</ng-option>
                        </ng-select>
                    </div>
                    <div class="col-10 col-md-4 mt-3 mt-md-0">
                        <ng-select appearance="outline" class="custom" placeholder="ordenar por" [searchable]="false" bindLabel="status" [clearable]="false">
                            <ng-option>Calificación</ng-option>
                            <ng-option>Tasa</ng-option>
                        </ng-select>
                    </div>
                </div>

                <div class="row mt-5 text-center">
                    <div class="col-lg-3">
                        <img src="/assets/img/financial-entities/banco-guayaquil-188x100.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Tasa de interés anual</p>
                        <p class="tittle-9">9.81%</p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Tiempo de aprobación</p>
                        <p class="tittle-9">72 horas</p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Cantidad de trámites</p>
                        <p class="tittle-9">CORTO</p>
                    </div>
                    <div class="col-6 col-lg-3">
                        <p class="tittle-12">Calificación</p>
                        <rating [(ngModel)]="rate" [max]="max" class="rating" [readonly]="true"></rating>
                        <span class="tittle-9">99/100</span>
                    </div>
                </div>
                <hr>
                <div class="row  text-center">
                    <div class="col-lg-3">
                        <img src="/assets/img/financial-entities/banco-pichincha-188x100.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Tasa de interés anual</p>
                        <p class="tittle-9">9.81%</p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Tiempo de aprobación</p>
                        <p class="tittle-9">72 horas</p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Cantidad de trámites</p>
                        <p class="tittle-9">CORTO</p>
                    </div>
                    <div class="col-6 col-lg-3">
                        <p class="tittle-12">Calificación</p>
                        <rating [(ngModel)]="rate" [max]="max" class="rating" [readonly]="true"></rating>
                        <span class="tittle-9">99/100</span>
                    </div>
                </div>
                <hr>
                <div class="row  text-center">
                    <div class="col-lg-3">
                        <img src="/assets/img/financial-entities/banco-austro-188x100.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Tasa de interés anual</p>
                        <p class="tittle-9">9.81%</p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Tiempo de aprobación</p>
                        <p class="tittle-9">72 horas</p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Cantidad de trámites</p>
                        <p class="tittle-9">CORTO</p>
                    </div>
                    <div class="col-6 col-lg-3">
                        <p class="tittle-12">Calificación</p>
                        <rating [(ngModel)]="rate" [max]="max" class="rating" [readonly]="true"></rating>
                        <span class="tittle-9">99/100</span>
                    </div>
                </div>
                <hr>
                <div class="row  text-center">
                    <div class="col-lg-3">
                        <img src="/assets/img/financial-entities/cooperativa-jardinAzuayo-188x100.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Tasa de interés anual</p>
                        <p class="tittle-9">9.81%</p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Tiempo de aprobación</p>
                        <p class="tittle-9">72 horas</p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Cantidad de trámites</p>
                        <p class="tittle-9">CORTO</p>
                    </div>
                    <div class="col-6 col-lg-3">
                        <p class="tittle-12">Calificación</p>
                        <rating [(ngModel)]="rate" [max]="max" class="rating" [readonly]="true"></rating>
                        <span class="tittle-9">99/100</span>
                    </div>
                </div>
                <hr>

                <div class="row mt-4 justify-content-center justify-content-lg-end">
                    <div class="col-4 col-lg-2">
                        <button type="button" class="btn button btn-block" disabled>ATRÁS</button>
                    </div>
                    <div class="col-2 col-lg-1 text-center pt-3 px-0">
                        <p class="tittle-10">1 de 5</p>
                    </div>
                    <div class="col-4 col-lg-2">
                        <button type="button" class="btn button btn-block">SIGUIENTE</button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- VIDEO SECTION -->

    <section class="container-fluid">
        <div class="row justify-content-center align-self-center bg-3">
            <div class="col-10 col-md-9">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" src="assets/video/video.mp4" controls muted loop type="video/mp4"></video>
                </div>
            </div>
        </div>
    </section>

    <!-- HELP US SECTION -->

    <section class="container">

        <div class="row justify-content-center mx-3 mx-md-0 text-center">
            <div class="col-12 col-md-8">
                <p class="tittle-7 color-2 text-capitalize">Los servicios</p>
                <p class="tittle-1">Podemos ayudarte</p>
                <p class="text-light-16">El crédito puede ser complicado. Pero no tiene que ser así. ASESORI pone a tu disposición diferentes opciones cerca de tu ubicación a través de nuestros socios.</p>
            </div>
        </div>

        <div class="row mt-4 text-center mx-3 mx-md-0">
            <div class="col-md-4 d-flex align-items-stretch my-2 my-lg-0">
                <div class="card text-center card-service">
                    <img class="card-img-top" src="/assets/img/services/14910@3x.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title tittle-7">CRÉDITOS</p>
                        <p class="card-text  text-light-16">Obtén el crédito que necesitas en donde tu eligas de manera más rápida y ágil, asegurando confianza y confiabilidad.
                        </p>
                        <summary class="tittle-10 color-5">VER MÁS</summary>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch my-2 my-lg-0">
                <div class="card text-center card-service">
                    <img class="card-img-top" src="/assets/img/services/3108488@3x.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title tittle-7">TARJETAS DE CRÉDITO</p>
                        <p class="card-text  text-light-16">Deja atrás lo lento y tedioso que resulta el trámite para poder contar con tu tarjeta de crédito.</p>
                        <summary class="tittle-10 color-5">VER MÁS</summary>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch my-2 my-lg-0">
                <div class="card text-center card-service">
                    <img class="card-img-top" src="/assets/img/services/2906247@3x.png" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title tittle-7">INVERSIONES</p>
                        <p class="card-text  text-light-16">Sabias que puedes obtener dinero al acumular tus ahorros a plazo fijo, obtén información de las tasas más seguras y efectivas para ti.</p>
                        <summary class="tittle-10 color-5">VER MÁS</summary>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 mx-3 mx-md-0 justify-content-center">
            <div class="col-md-3">
                <button type="button" routerLink="/services" class="btn button btn-block">VER TODOS</button>
            </div>
        </div>

    </section>


    <!-- BENEFITS SECTION -->

    <section class="container-fluid bg-1">

        <div class="container">
            <div class="row py-5 text-center justify-content-center">
                <div class="col-10 col-md-6">
                    <h1 class="tittle-2">Qué beneficios obtengo?</h1>
                </div>
            </div>

            <div class="row mx-3 pt-5">
                <div class="col-md-4 my-3 my-lg-0">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas icon fa-paste"></i>
                        </div>
                        <div class="col-8">
                            <h3 class="tittle-8 mb-2">Múltiples opciones de créditos</h3>
                        </div>
                    </div>
                    <p class="text-light-14 pr-5">Tu solicitud será revisada por las insituciones Financieras, y Asesori te mostrará cual es la mejor para ti.
                    </p>
                </div>
                <div class="col-md-4 my-3 my-lg-0">
                    <div class="row">
                        <div class="col-1 mr-2">
                            <i class="far icon fa-money-bill-alt"></i>
                        </div>
                        <div class="col-10">
                            <h3 class="tittle-8 mb-2">Transparencia con tus créditos</h3>
                        </div>
                    </div>
                    <p class="text-light-14 pr-4">Asesori es transparente, no te cobramos por nuestro servicio, nosotros queremos que siempre obtengas la mejor tasa de interés.
                    </p>
                </div>
                <div class="col-md-4 my-3 my-lg-0">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas icon fa-paste"></i>
                        </div>
                        <div class="col-10">
                            <h3 class="tittle-8 mb-2">Rapidez de respuesta</h3>
                        </div>
                    </div>
                    <p class="text-light-14">Cuando dejes tu solicitud en línea, aproximadamente tendrás un tiempo de respuesta de unas 48horas, luego nosotros te enviaremos un email con las diferentes opciones de insituciones financieras a las que ya puedes aplicar.
                    </p>
                </div>
            </div>

            <div class="row mx-3 pt-0 pt-md-5">
                <div class="col-md-4 my-3 my-lg-0">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas icon fa-stopwatch"></i>
                        </div>
                        <div class="col-10">
                            <h3 class="tittle-8 mb-2">Reduce el tiempo</h3>
                        </div>
                    </div>
                    <p class="text-light-14 pr-5">Una vez que nos envíes tus datos nosotros te avisaremos cuando exista una tasa menor de interés
                    </p>
                </div>
                <div class="col-md-4 my-3 my-lg-0">
                    <div class="row">
                        <div class="col-1 mr-2">
                            <i class="far icon fa-money-bill-alt"></i>
                        </div>
                        <div class="col-10">
                            <h3 class="tittle-8 mb-2">Ahorra dinero</h3>
                        </div>
                    </div>
                    <p class="text-light-14">Comparamos el costo de un crédito, sus plazos y requisitos adicionales. Por lo que podrás elegir el préstamo.
                    </p>
                </div>
                <div class="col-md-4 my-3 my-lg-0">
                    <div class="row">
                        <div class="col-1">
                            <i class="fas icon fa-paste"></i>
                        </div>
                        <div class="col-10">
                            <h3 class="tittle-8 mb-2">Transparencia</h3>
                        </div>
                    </div>
                    <p class="text-light-14 pr-3">Actuamos de forma independiente al no ser una entidad financiera, ofreciéndote información gratuita.
                    </p>
                </div>
            </div>

        </div>
    </section>

</main>