.bg-img {
    width: 100%;
    height: 100%;
    background: url(/assets/img/group-11@3x.png) no-repeat fixed center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-image {
    background-color: #ffffff;
    border-radius: 8px;
}

.btn-circle {
    width: 40px;
    height: 40px;
    text-align: center;
    padding: 6px 0;
    font-size: 14px;
    border-radius: 50%;
    border-color: white;
    color: white;
    background-color: #0078A9;
}

.btn-selection {
    position: relative;
    display: inline-block;
    width: 23%;
    border-radius: 8px;
    cursor: pointer;
}

.box-values-slider {
    border-radius: 9px;
    background-color: #f3f3f3;
    padding: 15px 20px;
    width: 23%;
}

::ng-deep {
    .custom-slider .ng5-slider .ng5-slider-bar {
        background: #e6e6e6;
        height: 11px;
        border-radius: 14px;
    }
    .custom-slider .ng5-slider .ng5-slider-pointer {
        top: -6px;
        width: 26px;
        height: 26px;
        background-color: #0A9BC9;
    }
    .custom-slider .ng5-slider .ng5-slider-pointer:after {
        display: block;
        margin: -3px -3px;
    }
    .custom-slider .ng5-slider .ng5-slider-bubble {
        bottom: 25px;
        font-size: 30px;
        font-family: 'Poppins-SemiBold';
        line-height: 0.4;
        text-align: right;
        color: #333337;
    }
}

.header-box-values-slider {
    font-family: 'Poppins-SemiBold';
    font-size: 14px;
    letter-spacing: 1.17px;
}

.result-container {
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.04);
}

.aplication-bar {
    height: 90px;
}

.rating {
    color: #ffc80a;
    font-size: 20px;
}

.card-service {
    box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.08);
}

.icon {
    font-size: 25px;
    color: #0A9BC9;
}

.recalculate-text {
    cursor: pointer;
}


/* ESTYLE TO SELECT OPTION */

.kudos-wrap input[type="checkbox"],
.kudos-wrap input[type="radio"] {
    display: none;
}

.kudos-wrap label {
    //border: 2px solid #fff;
    border: 2px solid #e6e6ed;
}

.kudos-wrap label:before {
    transition-duration: 0.4s;
    transform: scale(0);
}

.badge {
    position: absolute;
    border-radius: 50px;
    top: -5px;
    right: -3px;
    background-color: #0078A9;
    color: #ffffff;
    font-size: 15px;
}

.selected-service-tag {
    display: none
}

.selected {
    cursor: pointer;
    font-size: 12px;
    height: 48px;
    padding: 20px 15px;
    border-radius: 8px;
    font-family: 'Poppins-Regular';
    background-color: #0079ab;
    color: #ffffff;
    display: none
}

.no-selected {
    cursor: pointer;
    font-size: 12px;
    height: 48px;
    padding: 20px 15px;
    border-radius: 8px;
    font-family: 'Poppins-Regular';
    background-color: #ffffff;
    color: #0079ab;
    border: 1px solid #0079ab;
    display: inline-block
}

.kudos-wrap :checked+label .selected {
    display: inline-block;
}

.kudos-wrap :checked+label .selected-service-tag {
    display: inline-block;
}

.kudos-wrap :checked+label .no-selected {
    display: none;
}

.kudos-wrap label {
    transition-duration: 0.1s;
    transform-origin: 50% 50%;
}

.kudos-wrap :checked+label {
    border-color: #0079ab;
}

.px-80 {
    padding: 0 80px;
}

#global {
    height: 550px;
    margin-left: 0;
    margin-right: 0;
    padding-left: 5px;
    padding-right: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}

ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 45px;
    width: 2px;
    height: 100%;
}

ul.timeline>li {
    margin: 50px 0;
    padding-left: 75px;
}

ul.timeline>li>p {
    padding-left: 15px;
}

ul.timeline>li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #0079ab;
    left: 25px;
    width: 40px;
    height: 40px;
    margin: -15px 0;
}

.row-hover:hover {
    color: #0079ab;
}

label:active,
label:focus,
[role="button"][aria-pressed="true"] {
    background-color: #0079a8;
    color: #ffffff;
    padding: 10px 10px;
    font-size: 13px;
}

label:active,
label:focus,
[role="button"][aria-pressed="false"] {
    background-color: #f4f4f4;
    color: #3d3d3d;
    padding: 10px 10px;
    font-size: 13px;
}

.btn-group.special {
    display: flex;
}

.special .btn {
    flex: 1
}

.line-separator {
    width: 60px;
    height: 2px;
    background-color: #0079ab;
}


/* MEDIA QUERIES */


/* Small devices (landscape phones, less than 768px)*/

@media only screen and (max-width: 767.98px) {
    .box-values-slider {
        width: 100%;
    }
    .btn-selection-active {
        width: 100%;
    }
    .btn-selection {
        width: 100%;
    }
    .bg-img {
        height: 300px;
    }
    .px-80 {
        padding: 0 50px;
    }
}