$theme-colors: ("primary": hsl(198, 100%, 34%),
  "light": hsl(0, 0%, 96%),
  "secondary": #6c757d,
  "success": #198754,
  "info": #0dcaf0,
  "warning": #ffc107,
  "danger": #dc3545,
  "dark": #212529);

$btn-border-radius: .25rem;
$btn-font-weight: 500;
$btn-font-size: .875rem;
$nav-link-font-size: .875rem;
$btn-padding-x: 2rem;
$btn-padding-y: .75rem;
$navbar-nav-link-padding-x: 2rem;
$nav-link-padding-y: .75rem;
$nav-link-font-weight: 500;
$font-weight-base: 200;
$line-height-base: 1.5;
$pagination-border-width: 0;
$link-color: hsl(198, 100%, 34%);
$link-hover-color: hsl(198, 100%, 34%);
$link-hover-color: hsl(198, 100%, 34%);
$pagination-active-bg: hsl(198, 100%, 34%);
$link-decoration: none;
$card-border-color: hsl(210, 17%, 98%);
$input-font-size: .875rem;
$input-font-weight: 500;
$form-feedback-font-size: .75rem;

@import "node_modules/bootstrap/scss/bootstrap";

body {
  font-family: 'Poppins', sans-serif;
  padding-top: 6.5rem;

  @media (max-width: 768px) {
    padding-top: 3.9375rem;
  }
}

.text-extra-small {
  font-size: .75rem;
}
