<main class="bg-1 main-top-80">

    <div class="container py-0">
        <div class="row justify-content-center bg-0">
            <div class="col-4 d-block d-md-none text-center">
                <img src="/assets/img/asesori-logo-negative.png" width="90px" height="90px" class="" alt="ASESORI" routerLink="/homepage">
            </div>
        </div>
    </div>

    <form [formGroup]="creditform">
        <section class="container">
            <div class="row justify-content-center">
                <div class="col-10 px-4 col-md-4 text-center">
                    <div class="btn-group special btn-group-sm" btnRadioGroup formControlName="service">
                        <label btnRadio="0" (click)="creditos()" class="btn tittle-7 bg-0" tabindex="0" role="button">CRÉDITOS</label>
                        <label btnRadio="1" (click)="seguros()" class="btn tittle-7 bg-0" tabindex="0" role="button">SEGUROS</label>
                    </div>
                </div>
            </div>
        </section>

        <section class="container-fluid py-0">
            <div class="row justify-content-center">
                <div class="col-12 px-5 px-md-3 px-lg-5 col-md-3 kudos-wrap d-none d-md-block">

                    <input type="radio" value="Créditos de estudio_10" id="estudios" formControlName="credit_type_userSelected" (change)="onSelectCreditType($event)">
                    <label for="estudios" class="options mt-0 mb-2">
                        <div class="media mb-1">
                            <div class="media-body">
                                <p class="text-14-medium mt-1">Estudios</p>
                            </div>
                            <img src="/assets/img/iconos/dinero.png" width="25px" height="25px" alt="">
                        </div>
                        <p class="text-14-regular mb-1">Para mi carrera</p>
                        <p class="tittle-15 mb-1">(De consumo)</p>
                    </label>

                    <input type="radio" value="Para el viaje de tu sueños_9" id="viaje" formControlName="credit_type_userSelected" (change)="onSelectCreditType($event)">
                    <label for="viaje" class="options my-2">
                        <div class="media mb-1">
                            <div class="media-body">
                                <p class="text-14-medium mt-1">Viaje</p>
                            </div>
                            <img src="/assets/img/iconos/dinero.png" width="25px" height="25px" alt="">
                        </div>
                        <p class="text-14-regular mb-1">Para mis sueños</p>
                        <p class="tittle-15 mb-1">(De consumo)</p>
                    </label>

                    <input type="radio" value="Para tu casa_11" id="inmobiliario" formControlName="credit_type_userSelected" (change)="onSelectCreditType($event)">
                    <label for="inmobiliario" class="options my-2">
                        <div class="media mb-1">
                            <div class="media-body">
                                <p class="text-14-medium mt-1">Inmobiliario</p>
                            </div>
                            <img src="/assets/img/iconos/dinero.png" width="25px" height="25px" alt="">
                        </div>
                        <p class="text-14-regular mb-1">Para mi casa</p>
                        <p class="tittle-15 mb-1">(Inmobiliario)</p>
                    </label>

                    <input type="radio" value="Crédito por emergencias_9" id="emergencia" formControlName="credit_type_userSelected" (change)="onSelectCreditType($event)">
                    <label for="emergencia" class="options my-2">
                        <div class="media mb-1">
                            <div class="media-body">
                                <p class="text-14-medium mt-1">Emergencia</p>
                            </div>
                            <img src="/assets/img/iconos/dinero.png" width="25px" height="25px" alt="">
                        </div>
                        <p class="text-14-regular mb-1">Para mi consumo</p>
                        <p class="tittle-15 mb-1">(De consumo)</p>
                    </label>

                </div>

                <div class="col-12 px-5 col-md-8 bg-0 p-4">
                    <div class="row">

                        <!-- CREDITS SELECT -->
                        <!-- <div class="col-12 col-md-7 d-block d-md-none my-2">
                            <ng-select appearance="outline" [items]="credits_select" (change)="onSelectCreditTypeSelect($event)" placeholder="cambiar" [searchable]="false" bindLabel="name" bindValue="id" [clearable]="false">
                                <ng-template ng-label-tmp let-item="item">
                                    <i class="fas fa-check-circle color-1"></i> <span class="tittle-9 color-1 ml-2 mr-3">{{item.name}}</span>
                                </ng-template>
                                <ng-template ng-option-tmp let-item="item" let-index="index" let-search="searchTerm">
                                    <div class="container py-0">
                                        <div class="row px-2 row-hover">
                                            <div class="col-12 col-lg-4">
                                                <span class="tittle-9 py-0">{{item.name}}</span>
                                            </div>
                                            <div class="col-12 col-lg-8">
                                                <span class="text-14 py-0">({{item.description}})</span>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </ng-select>
                        </div> -->

                        <div class="col-12 mt-4">
                            <p class="tittle-9">{{credit_name}}</p>
                            <p class="tittle-22">{{destinedTo}}</p>
                            <p class="text-light-14">Obtén el crédito que necesitas en donde tu eligas de manera más rápida y ágil, asegurando confianza y confiabilidad. El crédito para tus estudios te está esperando.</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <img *ngIf="url_photo" [src]="url_photo" class="img-fluid" alt="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <p class="text-light-14 mt-3 mb-5">Obtén el crédito que necesitas en donde tu eligas de manera más rápida y ágil, asegurando confianza y confiabilidad.</p>
                            <p class="tittle-8">Otorgado a: </p>

                            <div *ngFor="let beneficiaries of beneficiaries">
                                <p class="text-light-14">{{beneficiaries}}</p>
                            </div>

                            <p class="tittle-8">Destinado a: </p>

                            <div *ngFor="let destination of destination">
                                <p class="text-light-14">{{destination}}</p>
                            </div>

                            <p class="tittle-8">Términos: </p>

                            <div *ngFor="let terms of terms">
                                <p class="text-light-14">{{terms}}</p>
                            </div>
                        </div>
                    </div>

                    <!-- SEND BUTTON -->
                    <div class="row mt-3 mb-5">
                        <div class="col-12 col-sm-5 col-lg-4">
                            <!-- <button type="button" class="btn button btn-block" (click)="goToRequest()">INICIA UNA SOLICITUD</button> -->
                            <button type="button" class="btn button btn-block">INICIA UNA SOLICITUD</button>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <p class="tittle-9">¿Tienes dudas? Ingresa tu email y nos contactamos contigo</p>
                            <p class="text-light-14">Antes de conocer las mejores opciones de crédito es importante que ingreses tu email.</p>
                        </div>
                    </div>

                    <!-- EMAIL -->
                    <div class="row">
                        <div class="col-12">
                            <div class="position-relative mt-4">
                                <input type="email" class="floating-input form-control" placeholder=" " required>
                                <label class="floating-label">correo electrónico*</label>
                            </div>
                        </div>
                    </div>

                    <!-- SEND BUTTON -->
                    <div class="row mt-4 justify-content-end">
                        <div class="col-12 col-sm-5 col-lg-3">
                            <button type="button" class="btn button btn-block">ENVIAR</button>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </form>

    <section class="container-fluid mt-5 pb-0 bg-0">
        <div class="container pb-0 px-4">
            <div class="row">
                <div class="col-12">
                    <p class="tittle-9">Tienes la seguridad y confianza</p>
                    <p class="text-light-14">Para nosotros es primordial brindarte toda la seguridad posible y confianza que necesitas durante todo el proceso. Estamos avalados por: </p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-12">
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-austro-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-biess-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-bolivariano-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-dinnersClub-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-guayaquil-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-produbanco-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/cooperativa-jep-188x100.png">
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </section>

</main>