<main>

    <!-- INITIAL SECTION -->

    <section class="container">
        <div class="row">
            <div class="col-12 col-md-6 px-4">
                <div class="text-center text-lg-left">
                    <img src="/assets/img/logo-small.png" width="95px" height="95px" class="my-4" alt="">
                </div>
                <h1 class="tittle-1 mb-4">¿Necesitas un crédito para tu casa?</h1>
                <p class="text-light-16">Asesori te facilita las mejores opciones para que puedas acceder rápido y
                    seguro al crédito que necesites.</p>
                <div class="row mt-4">
                    <div class="col-md-12 col-lg-6">
                        <button type="button" class="btn button btn-block">INICIA UNA SOLICITUD</button>
                    </div>
                </div>
            </div>
            <!-- Arreglar imagen de fondo en carousel -->
            <div class="col-12 col-md-6 px-4 portada column-space-responsive-50">
                <h3 class="text-white text-center">Trabajamos con</h3>
                <carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="singleSlideOffset" [noWrap]="noWrap"
                    [interval]="false" [startFromIndex]="1" (slideRangeChange)="onSlideRangeChange($event)"
                    [showIndicators]="false">
                    <slide *ngFor="let slide of slides; let index=index" class="mr-3 carousel-image">
                        <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
                    </slide>
                </carousel>
            </div>
        </div>
    </section>

    <!-- ADVANTAGES SECTION -->

    <section class="container-fluid bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-4 column-space-responsive-20">
                    <h3 class="tittle-3 mb-2"><i class="fas fa-stopwatch"></i> Reduce el tiempo</h3>
                    <p class="text-light-14">Una vez que nos envíes tus datos nosotros te avisaremos cuando exista una
                        tasa
                        menor
                        de
                        interés
                    </p>
                </div>
                <div class="col-md-4 column-space-responsive-20">
                    <h4 class="tittle-3 mb-2"><i class="fas fa-money-bill-alt"></i> Ahorra dinero</h4>
                    <p class="text-light-14">Comparamos el costo de un crédito, sus plazos y requisitos adicionales. Por
                        lo
                        que
                        podrás elegir el préstamo.
                    </p>
                </div>
                <div class="col-md-4 column-space-responsive-20">
                    <h4 class="tittle-3 mb-2"><i class="fas fa-clipboard"></i> Transparencia</h4>
                    <p class="text-light-14">Actuamos de forma independiente al no ser una entidad financiera,
                        ofreciéndote
                        información gratuita.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- CALCULATOR & STEPS SECTION -->

    <section class="container">
        <div class="row">

            <!-- SIDEBAR -->
            <aside class="col-12 col-lg-3 sidebar-steps text-white text-justify">
                <div class="row">
                    <div class="col">
                        <h3 class="text-white text-center my-5 px-4 tittle-3-spacing">¿CÓMO TRABAJA ASESORI?</h3>
                    </div>
                </div>
                <div class="px-3">
                    <div class="row">
                        <div class="col-1 col-lg-2">
                            <button type="button" class="btn btn-circle">1</button>
                        </div>
                        <div class="col-11 col-lg-10">
                            <p class="text-14">Selecciona el crédito al que deseas aplicar.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1 col-lg-2">
                            <button type="button" class="btn btn-circle">2</button>
                        </div>
                        <div class="col-11  col-lg-10">
                            <p class="text-14">Selecciona el crédito al que deseas
                                aplicar.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1 col-lg-2">
                            <button type="button" class="btn btn-circle">3</button>
                        </div>
                        <div class="col-11  col-lg-10">
                            <p class="text-14">Ingresa tus datos para obtener beneficios.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-1 col-lg-2">
                            <button type="button" class="btn btn-circle">4</button>
                        </div>
                        <div class="col-11 col-lg-10">
                            <p class="text-14">Asesori te muestra las mejores opciones de crédito, tanto por tiempo como
                                por su
                                tasa de interés.</p>
                        </div>
                    </div>
                </div>
            </aside>

            <!-- MAIN CONTENT -->
            <main class="col-12 col-lg-9">

                <!-- SERVICES TAGS -->
                <div class="row justify-content-between mx-5">

                    <div class="col-12">
                        <h4 class="tittle-4 mt-4 mb-2"><b>¿QUÉ ESTÁS BUSCANDO?</b></h4>
                        <p class="text-light-14">ASESORI pone a tu disposición diferentes opciones de crédito cerca de
                            tu ubicación a través de nuestros socios.</p>
                    </div>

                    <div
                        class="col-12 col-md-5 col-lg-3 align-self-center column-space-responsive-20 btn-selection-active ">
                        <div class="media py-4">
                            <div class="media">
                                <img src="/assets/img/iconos/dinero.png" width="40px" height="40px" alt="">
                            </div>
                            <div class="media-body pt-2 pl-3">
                                <p>Crédito</p>
                            </div>
                        </div>
                        <span class="badge badge-secondary">✓</span>
                    </div>

                    <div class="col-12 col-md-5 col-lg-3 align-self-center column-space-responsive-20 btn-selection">
                        <div class="media py-4">
                            <div class="media">
                                <img src="/assets/img/iconos/children-parents@3x.png" width="40px" height="40px" alt="">
                            </div>
                            <div class="media-body pt-2 pl-3">
                                <p>Seguros</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-12 col-md-5 col-lg-3 align-self-center column-space-responsive-20 btn-selection">
                        <div class="media py-3">
                            <div class="media">
                                <img src="/assets/img/iconos/master-card.png" width="40px" height="30px" alt="">
                            </div>
                            <div class="media-body pl-3">
                                <p>Tarjetas de crédito</p>
                            </div>
                        </div>
                    </div>


                    <div class="col-12 col-md-5 col-lg-3 align-self-center column-space-responsive-20 btn-selection">
                        <div class="media py-3">
                            <div class="media">
                                <img src="/assets/img/iconos/bar@3x.png" width="40px" height="35px" alt="">
                            </div>
                            <div class="media-body pl-3">
                                <p>Póliza de inversion</p>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- VALUES BOX -->
                <div class="row justify-content-between mx-5 mt-4">
                    <div class="col-12 col-md-5 col-lg-4 column-space-responsive-20 box-values-slider">
                        <div class="custom-slider">
                            <p class="header-box-values-slider mb-4 text-uppercase"><b>monto a solicitar*</b></p>
                            <ng5-slider [(value)]="monto.minValue" [options]="monto.options"></ng5-slider>
                            <p class="tittle-7 text-right mt-2 mb-0">Dólares americanos</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-4 column-space-responsive-20 box-values-slider">
                        <div class="custom-slider">
                            <p class="header-box-values-slider mb-4 text-uppercase"><b>entrada</b></p>
                            <ng5-slider [(value)]="entrada.minValue" [options]="entrada.options"></ng5-slider>
                            <p class="tittle-7 text-right mt-2 mb-0">Valor opcional</p>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-lg-3 column-space-responsive-20 box-values-slider">
                        <div class="custom-slider">
                            <p class="header-box-values-slider mb-4 text-uppercase"><b>tiempo plazo*</b></p>
                            <ng5-slider [(value)]="tiempo.minValue" [options]="tiempo.options"></ng5-slider>
                            <p class="tittle-7 text-right mt-2 mb-0">Meses</p>
                        </div>
                    </div>
                </div>

                <!-- CALCULATE BUTTON -->
                <div class="row mt-4 mx-4 justify-content-end">
                    <div class="col-lg-4">
                        <button type="button" class="btn button btn-block">CALCULAR</button>
                    </div>
                </div>

            </main>
        </div>
    </section>

    <!-- RESULTS SECTION -->

    <section class="container">

        <div class="row px-3">
            <div class="col-12 col-lg-12 text-right tittle-4 color-1">
                <span><i class="fas fa-redo-alt"></i></span><span class="text-uppercase ml-3">volver a calcular</span>
            </div>
            <div class="col-12 col-lg-12 text-left mt-4">
                <p class="text-uppercase tittle-2">Instituciones Financieras en donde puedes aplicar</p>
                <p class="text-light-16">Puedes aplicar a todas las opciones o a las que tú seleciones</p>
            </div>
        </div>

        <!-- CREDIT OPTION -->
        <div class="row result-container mt-4">
            <div class="col-12 col-lg-10">
                <div class="row align-items-center mt-4">
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-12">
                                <button class="btn button-negative">Seleccionar</button>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-12">
                                <img class="img-fluid" src="/assets/img/financial-entities/banco-austro-188x100.png"
                                    alt="Entidad FInanciera">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row text-center justify-content-center">
                            <div class="col-6 col-md-4">
                                <p class="text-uppercase tittle-5">Monto a solicitar</p>
                                <p class="tittle-6">$10.000,00</p>
                                <p class="text-uppercase tittle-7">Dólares americanos</p>
                            </div>
                            <div class="col-6 col-md-4">
                                <p class="text-uppercase tittle-5">Entrada</p>
                                <p class="tittle-6">$0,00</p>
                                <p class="text-uppercase tittle-7">valor opcional</p>
                            </div>
                            <div class="col-6 col-md-4">
                                <p class="text-uppercase tittle-5">tiempo plazo</p>
                                <p class="tittle-6">12</p>
                                <p class="text-uppercase tittle-7">meses</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row text-center">
                            <div class="col-6 col-md-3">
                                <p class="text-uppercase tittle-7">tasa anual</p>
                                <p class="tittle-8">16.75%</p>
                            </div>
                            <div class="col-6 col-md-3">
                                <p class="text-uppercase tittle-7">financiamiento</p>
                                <p class="tittle-8">100%</p>
                            </div>
                            <div class="col-6 col-md-3">
                                <p class="text-uppercase tittle-7">monto de crédito</p>
                                <p class="tittle-8">$10.000,00</p>
                            </div>
                            <div class="col-6 col-md-3">
                                <p class="text-uppercase tittle-7">credito bancario</p>
                                <p class="tittle-8">$10.000,00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2 text-white text-center bg-2">
                <p class="tittle-3-spacing mt-4 text-uppercase">cuota estimada</p>
                <h2 class="tittle-9 mt-4">$1.100</h2>
                <p class="tittle-7 mt-2 mb-5 text-uppercase">mensual</p>
                <p><a class="tittle-5 color-0" href="#">Más información</a></p>
            </div>
        </div>

        <!-- CREDIT OPTION - SELECTED -->
        <div class="row result-container mt-4">
            <div class="col-12 col-lg-10">
                <div class="row align-items-center mt-4">
                    <div class="col-lg-3">
                        <div class="row">
                            <div class="col-12">
                                <button class="btn button">✓ Seleccionado</button>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col-12">
                                <img class="img-fluid" src="/assets/img/financial-entities/banco-guayaquil-188x100.png"
                                    alt="Entidad FInanciera">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="row text-center justify-content-center">
                            <div class="col-6 col-md-4">
                                <p class="text-uppercase tittle-5">Monto a solicitar</p>
                                <p class="tittle-6">$10.000,00</p>
                                <p class="text-uppercase tittle-7">Dólares americanos</p>
                            </div>
                            <div class="col-6 col-md-4">
                                <p class="text-uppercase tittle-5">Entrada</p>
                                <p class="tittle-6">$0,00</p>
                                <p class="text-uppercase tittle-7">valor opcional</p>
                            </div>
                            <div class="col-6 col-md-4">
                                <p class="text-uppercase tittle-5">tiempo plazo</p>
                                <p class="tittle-6">12</p>
                                <p class="text-uppercase tittle-7">meses</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row text-center">
                            <div class="col-6 col-md-3">
                                <p class="text-uppercase tittle-7">tasa anual</p>
                                <p class="tittle-8">16.75%</p>
                            </div>
                            <div class="col-6 col-md-3">
                                <p class="text-uppercase tittle-7">financiamiento</p>
                                <p class="tittle-8">100%</p>
                            </div>
                            <div class="col-6 col-md-3">
                                <p class="text-uppercase tittle-7">monto de crédito</p>
                                <p class="tittle-8">$10.000,00</p>
                            </div>
                            <div class="col-6 col-md-3">
                                <p class="text-uppercase tittle-7">credito bancario</p>
                                <p class="tittle-8">$10.000,00</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-lg-2 text-white text-center bg-2">
                <p class="tittle-3-spacing mt-4 text-uppercase">cuota estimada</p>
                <h2 class="tittle-9 mt-4">$1.100</h2>
                <p class="tittle-7 mt-2 mb-5 text-uppercase">mensual</p>
                <p><a class="tittle-5 color-0" href="#">Más información</a></p>
            </div>
        </div>

        <!-- APLICATION BAR -->
        <div class="row mt-5 text-right text-white aplication-bar bg-2 align-items-center">
            <div class="col">
                <span class="tittle-5 mr-5">1 seleccionado</span>
                <summary class="tittle-10 d-inline-block text-uppercase mr-4"><a class="mr-5">aplicar</a>></summary>
            </div>
        </div>

    </section>

    <!-- RANKING SECTION -->

    <section class="container">

        <div class="row align-items-start">

            <!-- RANKING TEXT -->
            <div class="col-12 col-lg-3 column-space-responsive-20">
                <h2 class="tittle-11">Ranking Asesori</h2>
                <p class="text-light-16 mt-5">Te enseñamos una calificación de Asesori hacia las instituciones
                    financieras en base a su tasa de interés, Cantidad de trámites y tiempo en aprobación de tu
                    solicitud
                </p>
            </div>

            <!-- RATING FINANCIAL ENTITY -->
            <div class="col-12 col-lg-9 column-space-responsive-20">
                <div class="row  text-center">
                    <div class="col-lg-3">
                        <img src="/assets/img/financial-entities/banco-guayaquil-188x100.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Tasa de interés</p>
                        <p class="tittle-4">9.81%</p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Tiempo de aprobación</p>
                        <p class="tittle-4">72 horas</p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Cantidad de trámites</p>
                        <p class="tittle-4">CORTO</p>
                    </div>
                    <div class="col-6 col-lg-3">
                        <p class="tittle-12">Calificación</p>
                        <rating [(ngModel)]="rate" [max]="max" class="rating" [readonly]="isReadonly"></rating>
                        <span class="tittle-4">99/100</span>
                    </div>
                </div>
                <hr>
                <div class="row  text-center">
                    <div class="col-lg-3">
                        <img src="/assets/img/financial-entities/banco-guayaquil-188x100.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Tasa de interés</p>
                        <p class="tittle-4">9.81%</p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Tiempo de aprobación</p>
                        <p class="tittle-4">72 horas</p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Cantidad de trámites</p>
                        <p class="tittle-4">CORTO</p>
                    </div>
                    <div class="col-6 col-lg-3">
                        <p class="tittle-12">Calificación</p>
                        <rating [(ngModel)]="rate" [max]="max" class="rating" [readonly]="isReadonly"></rating>
                        <span class="tittle-4">99/100</span>
                    </div>
                </div>
                <hr>
                <div class="row  text-center">
                    <div class="col-lg-3">
                        <img src="/assets/img/financial-entities/banco-guayaquil-188x100.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Tasa de interés</p>
                        <p class="tittle-4">9.81%</p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Tiempo de aprobación</p>
                        <p class="tittle-4">72 horas</p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Cantidad de trámites</p>
                        <p class="tittle-4">CORTO</p>
                    </div>
                    <div class="col-6 col-lg-3">
                        <p class="tittle-12">Calificación</p>
                        <rating [(ngModel)]="rate" [max]="max" class="rating" [readonly]="isReadonly"></rating>
                        <span class="tittle-4">99/100</span>
                    </div>
                </div>
                <hr>
                <div class="row  text-center">
                    <div class="col-lg-3">
                        <img src="/assets/img/financial-entities/banco-guayaquil-188x100.png" class="img-fluid" alt="">
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Tasa de interés</p>
                        <p class="tittle-4">9.81%</p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Tiempo de aprobación</p>
                        <p class="tittle-4">72 horas</p>
                    </div>
                    <div class="col-6 col-lg-2">
                        <p class="tittle-12">Cantidad de trámites</p>
                        <p class="tittle-4">CORTO</p>
                    </div>
                    <div class="col-6 col-lg-3">
                        <p class="tittle-12">Calificación</p>
                        <rating [(ngModel)]="rate" [max]="max" class="rating" [readonly]="isReadonly"></rating>
                        <span class="tittle-4">99/100</span>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </section>

    <!-- VIDEO SECTION -->

    <section class="container-fluid">
        <div class="row justify-content-center align-self-center bg-3">
            <div class="col-9">
                <div class="embed-responsive embed-responsive-16by9">
                    <video class="embed-responsive-item" src="assets/video/video.mp4" controls muted loop
                        type="video/mp4"></video>
                </div>
            </div>
        </div>
    </section>

    <!-- HELP US SECTION -->

    <section class="container">

        <div class="row justify-content-center text-center">
            <div class="col-8">
                <p class="tittle-2 color-2 text-uppercase">Los servicios</p>
                <p class="tittle-0 text-uppercase">podemos ayudarte</p>
                <p class="text-light-16">El crédito puede ser complicado. Pero no tiene que ser así. ASESORI pone a tu
                    disposición diferentes opciones cerca de tu ubicación a través de nuestros socios.</p>
            </div>
        </div>

        <div class="row mt-4 text-center">
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card text-center card-service">
                    <img class="card-img-top" src="/assets/img/services/deudas-credit370x245.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title tittle-2">CRÉDITOS</p>
                        <p class="card-text  text-light-16">Obtén el crédito que
                            necesitas en donde tu eligas de manera más rápida y ágil, asegurando confianza y
                            confiabilidad.</p>
                        <a href="#" class="tittle-5">VER MÁS</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card text-center card-service">
                    <img class="card-img-top" src="/assets/img/services/house-credit370x245.jpg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title tittle-2">TARJETAS DE CRÉDITO</p>
                        <p class="card-text  text-light-16">Deja atrás lo lento y
                            tedioso que resulta el trámite para poder contar con tu tarjeta de crédito.</p>
                        <a href="#" class="tittle-5">VER MÁS</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex align-items-stretch">
                <div class="card text-center card-service">
                    <img class="card-img-top" src="/assets/img/services/prestamo-credit370x245.jpg"
                        alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title tittle-2">INVERSIONES</p>
                        <p class="card-text  text-light-16">Sabias que puedes obtener
                            dinero al acumular tus ahorros a plazo fijo, obtén información de las tasas más seguras
                            y efectivas para ti.</p>
                        <a href="#" class="tittle-5">VER MÁS</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row mt-4 justify-content-center">
            <div class="col-md-4">
                <button type="button" class="btn button btn-block">VER TODOS</button>
            </div>
        </div>

    </section>

    <!-- BENEFITS SECTION -->

    <section class="container-fluid bg-1">

        <div class="container">
            <div class="row pt-5 text-center justify-content-center">
                <div class="col-9 col-md-6">
                    <h1 class="tittle-9">Qué beneficios obtengo?</h1>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-4">
                    <div class="p-5">
                        <i class="fas fa-clipboard icon"></i>
                    </div>
                    <h4 class="tittle-2 mb-3">Múltiples opciones de créditos</h4>
                    <p class="text-light-14">Tu solicitud será revisada por las insituciones Financieras, y
                        Asesori te mostrará cual es la mejor para ti</p>
                </div>
                <div class="col-md-4">
                    <div class="p-5">
                        <i class="fas fa-money-bill-alt icon"></i>
                    </div>
                    <h4 class="tittle-2 mb-3">Transparencia con tus créditos</h4>
                    <p class="text-light-14">Asesori es transparente, no te cobramos por nuestro servicio,
                        nosotros queremos que siempre obtengas la mejor tasa de interés</p>
                </div>
                <div class="col-md-4">
                    <div class="p-5">
                        <i class="fas fa-clipboard icon"></i>
                    </div>
                    <h4 class="tittle-2 mb-3">Rapidez de respuesta</h4>
                    <p class="text-light-14">Cuando dejes tu solicitud en línea, aproximadamente tendrás un tiempo
                        de respuesta de unas 48horas, luego nosotros te enviaremos un email con las diferentes opciones
                        de insituciones financieras a las que ya puedes aplicar</p>
                </div>
            </div>
        </div>
    </section>

</main>

<!-- FOOTER -->
<footer class="pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">
        <!-- Grid row -->
        <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 mx-auto">
                <!-- Content -->
                <img class="img-fluid" width="95px" height="95px" src="/assets/img/logo-small.png">
                <p>Here you can use rows and columns to organize your footer content. Lorem ipsum dolor sit amet,
                    consectetur adipisicing elit.</p>
            </div>

            <hr class="clearfix w-100 d-md-none">
            <!-- Grid column -->
            <div class="col-md-3 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Links -->
                <h5 class="text-uppercase mb-4">ACERCA DE</h5>
                <ul class="">
                    <li>
                        <p>
                            <a href="#!">INICIO</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">COMPAÑÍA</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">NUESTRO TRABAJO</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a href="#!">CONTACTANOS</a>
                        </p>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->
            <hr class="clearfix w-100 d-md-none">
            <div class="col-md-5 col-lg-5 mx-auto my-md-4 my-0 mt-4 mb-1">
                <!-- Contact details -->
                <h5 class="text-uppercase mb-4">Información</h5>
                <ul class="">
                    <li>
                        <p>
                            <i class="fas fa-home mr-3"></i> Avenida 24 de Enero y Francisco Cevallos.</p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> info@example.com</p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-phone mr-3"></i> +593-991538711</p>
                    </li>
                </ul>
            </div>

        </div>
        <!-- Grid row -->
    </div>
    <!-- Footer Links -->

    <hr>
    <!-- Call to action -->
    <ul class="text-center py-2">
        <li class="list-inline-item">
            <h5 class="mb-1">Registrate ahora!</h5>
        </li>
        <li class="list-inline-item">
            <a href="#!" class="btn btn-danger btn-rounded">Sign up!</a>
        </li>
    </ul>
    <!-- Call to action -->
    <hr>

    <!-- Social buttons -->
    <ul class="text-center my-4">
        <li class="list-inline-item">
            <a class="mx-1">
                <i class="fab fa-facebook-f"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="mx-1">
                <i class="fab fa-twitter"> </i>
            </a>
        </li>
        <li class="list-inline-item">
            <a class="mx-1">
                <i class="fab fa-google-plus-g"> </i>
            </a>
        </li>
    </ul>
    <!-- Social buttons -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright ASESORI</div>
    <!-- Copyright -->
</footer>
<!-- Footer -->