<!-- <header>
    <nav>
        <a href="#">Inicio</a>
        <a href="#">Compañia</a>
        <a href="#">Nuestro Trabajo</a>
        <a href="#">Trabaja con nosotros</a>
        <a href="#">Contactanos</a>
        <a href="#">Ingresar</a>
    </nav>
    <section class="textos-header">
        <h1>Titulo 1</h1>
        <h2>Titulo 2</h2>
    </section>
    <div class="wave" style="height: 150px; overflow: hidden;"><svg viewBox="0 0 500 150" preserveAspectRatio="none"
            style="height: 100%; width: 100%;">
            <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                style="stroke: none; fill: #fff;"></path>
        </svg></div>
</header> -->

<main>
    <section class="container contenedor">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="container icon-first-section">
                    <img src="/assets/img/logo-small.png" width="90px" height="90px" class="mt-4 mb-4" alt="">
                </div>
                <h2 class="titulo"><b>¿Necesitas un crédito para tu casa?</b></h2>
                <p class="parrafo">Asesori te facilita las mejores opciones para que puedas acceder rápido y seguro al
                    crédito que necesites. </p>
                <button type="button" class="btn boton">
                    INICIA UNA SOLICITUD
                </button>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 background">
                <h3 class="text-white trabajamos-con">Trabajamos con</h3>
                <carousel [itemsPerSlide]="itemsPerSlide" [singleSlideOffset]="singleSlideOffset" [noWrap]="noWrap"
                    [interval]="false" [startFromIndex]="1" (slideRangeChange)="onSlideRangeChange($event)"
                    [showIndicators]="false">
                    <slide *ngFor="let slide of slides; let index=index" class="mr-3 slide-image">
                        <img [src]="slide.image" alt="image slide" style="display: block; width: 100%;">
                    </slide>
                </carousel>
            </div>
        </div>
    </section>

    <section class="container-fluid contenedor beneficios">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-beneficios">
                    <h4 class="titulo2"><i class="fas fa-stopwatch"></i><b> Reduce el tiempo</b></h4>
                    <p class="parrafo2">Una vez que nos envíes tus datos nosotros te avisaremos cuando exista una tasa
                        menor
                        de
                        interés
                    </p>
                </div>
                <div class="col-md-4 col-beneficios">
                    <h4 class="titulo2"><i class="fas fa-money-bill-alt"></i><b> Ahorra dinero</b></h4>
                    <p class="parrafo2">Comparamos el costo de un crédito, sus plazos y requisitos adicionales. Por lo
                        que
                        podrás elegir el préstamo.
                    </p>
                </div>
                <div class="col-md-4 col-beneficios">
                    <h4 class="titulo2"><i class="fas fa-clipboard"></i><b> Transparencia</b></h4>
                    <p class="parrafo2">Actuamos de forma independiente al no ser una entidad financiera, ofreciéndote
                        información gratuita.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="contenedor calculadora">
        <div class="container">
            <div class="row">
                <div class="col-md-3 sidebar">
                    <h3 class="texto">¿CÓMO TRABAJA ASESORI?</h3>
                    <div class="row">
                        <div class="col-md-2 col-number">
                            <button type="button" class="btn btn-circle">1</button>
                        </div>
                        <div class="col-md-10 col-text">
                            <p class="pasos">Selecciona el crédito al que deseas aplicar.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-number">
                            <button type="button" class="btn btn-circle">2</button>
                        </div>
                        <div class="col-md-10 col-text">
                            <p class="pasos">Selecciona el crédito al que deseas
                                aplicar.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-number">
                            <button type="button" class="btn btn-circle">3</button>
                        </div>
                        <div class="col-md-10 col-text">
                            <p class="pasos">Ingresa tus datos para obtener beneficios.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2 col-number">
                            <button type="button" class="btn btn-circle">4</button>
                        </div>
                        <div class="col-md-10 col-text">
                            <p class="pasos">Asesori te muestra las mejores opciones de crédito, tanto por tiempo como
                                por su
                                tasa de interés.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="contenedor-opciones-servicio">
                        <h4 class="Que-ests-buscando"><b>¿QUÉ ESTÁS BUSCANDO?</b></h4>
                        <p class="ASESORI-pone-a-tu-di">ASESORI pone a tu disposición diferentes opciones de crédito
                            cerca de tu ubicación a través de nuestros socios.</p>
                    </div>
                    <div class="contenedor-calculadora">
                        
                        <div class="row mt-4">
                            <div class="options-active">
                                <div class="row">
                                    <div class="col-md-4 col-icon">
                                        <img src="/assets/img/iconos/dinero.png" width="40px" height="40px" alt="">
                                    </div>
                                    <div class="col-md-8 col-icon-text">
                                        <p>Crédito</p>
                                    </div>
                                </div>
                            </div>
                            <div class="options-no-active">
                                <div class="row">
                                    <div class="col-md-4 col-icon">
                                        <img src="/assets/img/iconos/children-parents@3x.png" width="40px" height="40px"
                                            alt="">
                                    </div>
                                    <div class="col-md-8 col-icon-text">
                                        <p>Seguros</p>
                                    </div>
                                </div>
                            </div>
                            <div class="options-no-active">
                                <div class="row">
                                    <div class="col-md-4 col-icon">
                                        <img src="/assets/img/iconos/master-card.png" width="40px" height="30px" alt="">
                                    </div>
                                    <div class="col-md-8 col-icon-text">
                                        <p>Tarjetas crédito</p>
                                    </div>
                                </div>
                            </div>
                            <div class="options-no-active">
                                <div class="row">
                                    <div class="col-md-4 col-icon">
                                        <img src="/assets/img/iconos/bar@3x.png" width="40px" height="35px" alt="">
                                    </div>
                                    <div class="col-md-8 col-icon-text">
                                        <p>Póliza de inversión</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="mt-4">
                            <div class="row">
                                <div class="custom-slider cuadro-valor">
                                    <p class="header-slider mb-4"><b>MONTO A SOLICITAR *</b></p>
                                    <ng5-slider [(value)]="monto.minValue" [options]="monto.options"></ng5-slider>
                                    <p class="pie-slider">Dólares americanos</p>
                                </div>
                                <div class="custom-slider cuadro-valor">
                                    <p class="header-slider mb-4"><b>ENTRADA</b></p>
                                    <ng5-slider [(value)]="entrada.minValue" [options]="entrada.options"></ng5-slider>
                                    <p class="pie-slider">Valor opcional</p>
                                </div>
                                <div class="custom-slider cuadro-valor">
                                    <p class="header-slider mb-4"><b>TIEMPO PLAZO *</b></p>
                                    <ng5-slider [(value)]="tiempo.minValue" [options]="tiempo.options"></ng5-slider>
                                    <p class="pie-slider">Meses</p>
                                </div>
                            </div>
                        </div>
                        <div class="container mt-4">
                            <div class="row">
                                <button type="button" class="btn boton">CALCULAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container contenedor ranking">

        <div class="row">
            <div class="col-md-4">
                <h2 class="Ranking-Asesori">Ranking Asesori</h2>
                <p class="Te-enseamos-una-cal mt-5">Te enseñamos una calificación de Asesori hacia las instituciones
                    financieras en base a su tasa de interés, Cantidad de trámites y tiempo en aprobación de tu
                    solicitud
                </p>
            </div>
            <div class="col-md-8 contenedor-calificaciones">
                <div class="row">
                    <div class="col-md-3 calificacion-img">
                        <img src="/assets/img/financial-entities/banco-guayaquil-188x100.png" class="img-responsive"
                            width="155px" alt="">
                    </div>
                    <div class="col-md-2 col-Tasa-de-inters">
                        <p class="Tasa-de-inters">Tasa de interés</p>
                        <p class="interes">9.81%</p>
                    </div>
                    <div class="col-md-2 col-Tasa-de-inters">
                        <p class="Tasa-de-inters">Tiempo de aprobación</p>
                        <p class="interes">72 horas</p>
                    </div>
                    <div class="col-md-2 col-Tasa-de-inters">
                        <p class="Tasa-de-inters">Cantidad de trámites</p>
                        <p class="interes">CORTO</p>
                    </div>
                    <div class="col-md-3 col-Tasa-de-inters" style="text-align: center;">
                        <p class="Tasa-de-inters">Calificación</p>
                        <rating [(ngModel)]="rate" [max]="max" style="color: #ffc80a;font-size: 20px;"
                            [readonly]="isReadonly"></rating>
                        <span class="interes">99/100</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 calificacion-img">
                        <img src="/assets/img/financial-entities/banco-pichincha-188x100.png" class="img-responsive"
                            width="155px" alt="">
                    </div>
                    <div class="col-md-2 col-Tasa-de-inters">
                        <p class="Tasa-de-inters">Tasa de interés</p>
                        <p class="interes">9.81%</p>
                    </div>
                    <div class="col-md-2 col-Tasa-de-inters">
                        <p class="Tasa-de-inters">Tiempo de aprobación</p>
                        <p class="interes">72 horas</p>
                    </div>
                    <div class="col-md-2 col-Tasa-de-inters">
                        <p class="Tasa-de-inters">Cantidad de trámites</p>
                        <p class="interes">CORTO</p>
                    </div>
                    <div class="col-md-3 col-Tasa-de-inters" style="text-align: center;">
                        <p class="Tasa-de-inters">Calificación</p>
                        <rating [(ngModel)]="rate" [max]="max" style="color: #ffc80a;font-size: 20px;"
                            [readonly]="isReadonly"></rating>
                        <span class="interes">99/100</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 calificacion-img">
                        <img src="/assets/img/financial-entities/banco-austro-188x100.png" class="img-responsive"
                            width="155px" alt="">
                    </div>
                    <div class="col-md-2 col-Tasa-de-inters">
                        <p class="Tasa-de-inters">Tasa de interés</p>
                        <p class="interes">9.81%</p>
                    </div>
                    <div class="col-md-2 col-Tasa-de-inters">
                        <p class="Tasa-de-inters">Tiempo de aprobación</p>
                        <p class="interes">72 horas</p>
                    </div>
                    <div class="col-md-2 col-Tasa-de-inters">
                        <p class="Tasa-de-inters">Cantidad de trámites</p>
                        <p class="interes">CORTO</p>
                    </div>
                    <div class="col-md-3 col-Tasa-de-inters" style="text-align: center;">
                        <p class="Tasa-de-inters">Calificación</p>
                        <rating [(ngModel)]="rate" [max]="max" style="color: #ffc80a;font-size: 20px;"
                            [readonly]="isReadonly"></rating>
                        <span class="interes">99/100</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 calificacion-img">
                        <img src="/assets/img/financial-entities/cooperativa-jardinAzuayo-188x100.png"
                            class="img-responsive" width="155px" alt="">
                    </div>
                    <div class="col-md-2 col-Tasa-de-inters">
                        <p class="Tasa-de-inters">Tasa de interés</p>
                        <p class="interes">9.81%</p>
                    </div>
                    <div class="col-md-2 col-Tasa-de-inters">
                        <p class="Tasa-de-inters">Tiempo de aprobación</p>
                        <p class="interes">72 horas</p>
                    </div>
                    <div class="col-md-2 col-Tasa-de-inters">
                        <p class="Tasa-de-inters">Cantidad de trámites</p>
                        <p class="interes">CORTO</p>
                    </div>
                    <div class="col-md-3 col-Tasa-de-inters" style="text-align: center;">
                        <p class="Tasa-de-inters">Calificación</p>
                        <rating [(ngModel)]="rate" [max]="max" style="color: #ffc80a;font-size: 20px;"
                            [readonly]="isReadonly"></rating>
                        <span class="interes">99/100</span>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-md-3 calificacion-img">
                        <img src="/assets/img/financial-entities/banco-pacifico-188x100.png" class="img-responsive"
                            width="155px" alt="">
                    </div>
                    <div class="col-md-2 col-Tasa-de-inters">
                        <p class="Tasa-de-inters">Tasa de interés</p>
                        <p class="interes">9.81%</p>
                    </div>
                    <div class="col-md-2 col-Tasa-de-inters">
                        <p class="Tasa-de-inters">Tiempo de aprobación</p>
                        <p class="interes">72 horas</p>
                    </div>
                    <div class="col-md-2 col-Tasa-de-inters">
                        <p class="Tasa-de-inters">Cantidad de trámites</p>
                        <p class="interes">CORTO</p>
                    </div>
                    <div class="col-md-3" style="text-align: center;">
                        <p class="Tasa-de-inters">Calificación</p>
                        <rating [(ngModel)]="rate" [max]="max" style="color: #ffc80a;font-size: 20px;"
                            [readonly]="isReadonly"></rating>
                        <span class="interes">99/100</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid Mask">
        <div class="row justify-content-center">
            <div class="col-md-9 video">
                <video src="assets/video/video.mp4" width="1000px" height="540px" controls muted loop
                    type="video/mp4"></video>
            </div>
        </div>
    </section>

    <section class="contendeor services">
        <p class="Los-Servicios">Los servicios</p>
        <h1 class="PODEMOS-AYUDARTE">PODEMOS AYUDARTE</h1>
        <p class="El-crdito-puede-ser">El crédito puede ser complicado. Pero no tiene que ser así. ASESORI pone a tu
            disposición diferentes opciones cerca de tu ubicación a través de nuestros socios.</p>

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-4">
                    <div class="card text-center card-service">
                        <img class="card-img-top" src="/assets/img/services/deudas-credit370x245.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title card-service-tittle">CRÉDITOS</p>
                            <p class="card-text card-service-text" style="text-align: center;">Obtén el crédito que
                                necesitas en donde tu eligas de manera más rápida y ágil, asegurando confianza y
                                confiabilidad.</p><br>
                            <a href="#" class="ver-mas">VER MÁS</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center card-service">
                        <img class="card-img-top" src="/assets/img/services/house-credit370x245.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title card-service-tittle">TARJETAS DE CRÉDITO</p>
                            <p class="card-text card-service-text" style="text-align: center;">Deja atrás lo lento y
                                tedioso que resulta el trámite para poder contar con tu tarjeta de crédito.</p><br>
                            <a href="#" class="ver-mas">VER MÁS</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card text-center card-service">
                        <img class="card-img-top" src="/assets/img/services/prestamo-credit370x245.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <p class="card-title card-service-tittle">INVERSIONES</p>
                            <p class="card-text card-service-text" style="text-align: center;">Sabias que puedes obtener
                                dinero al acumular tus ahorros a plazo fijo, obtén información de las tasas más seguras
                                y efectivas para ti.</p>
                            <a href="#" class="ver-mas">VER MÁS</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row mt-5">
                <div class="col-md-12">
                    <button type="button" class="btn boton">VER TODOS</button>
                </div>
            </div>
        </div>
    </section>

    <section class="contenedor container-fluid beneficios">
        <h1 class="Qu-beneficios-obten">Qué beneficios obtengo?</h1>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div style="text-align: center; padding: 50px;">
                        <i class="fas fa-clipboard icono"></i>
                    </div>
                    <h4 class="opciones-d">Múltiples opciones de créditos</h4>
                    <p class="Tu-solicitud-ser-re">Tu solicitud será revisada por las insituciones Financieras, y
                        Asesori te mostrará cual es la mejor para ti</p>
                </div>
                <div class="col-md-4">
                    <div style="text-align: center; padding: 50px;">
                        <i class="fas fa-money-bill-alt icono"></i>
                    </div>
                    <h4 class="opciones-d">Transparencia con tus créditos</h4>
                    <p class="Tu-solicitud-ser-re">Asesori es transparente, no te cobramos por nuestro servicio,
                        nosotros queremos que siempre obtengas la mejor tasa de interés</p>
                </div>
                <div class="col-md-4">
                    <div style="text-align: center; padding: 50px;">
                        <i class="fas fa-clipboard icono"></i>
                    </div>
                    <h4 class="opciones-d">Rapidez de respuesta</h4>
                    <p class="Tu-solicitud-ser-re">Cuando dejes tu solicitud en línea, aproximadamente tendrás un tiempo
                        de respuesta de unas 48horas, luego nosotros te enviaremos un email con las diferentes opciones
                        de insituciones financieras a las que ya puedes aplicar</p>
                </div>
            </div>
        </div>
    </section>

</main>

<footer id="mainFooter">
    <div class="footer-left">
        <a class="vertical-logo-container">
            <img class="vertical-logo" width="85px" height="85px" src="/assets/img/logo-small.png">
        </a>
    </div>
    <div class="footer-right">
        <ul class="social-nav">
            <li>Siguenos</li>
            <li class="icon-bubble"><a href="#"><i class="fab fa-facebook-f"></i><span class="hidden">Netflix on
                        Facebook</span></a></li>
            <li class="icon-bubble"><a href="#"><i class="fab fa-twitter"></i><span class="hidden">Netflix on
                        Twitter</span></a></li>
            <li class="icon-bubble"><a href="#"><i class="fab fa-instagram"></i><span class="hidden">Netflix on
                        Instagram</span></a></li>
        </ul>
        <ul class="legal-nav">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Compañia</a></li>
            <li><a href="#">Nuestro Trabajo</a></li>
            <li><a href="#">Contactanos</a></li>
            <li><a href="#">Ingresar</a></li>
            <li>© 2020 ASESORI</li>
        </ul>
    </div>
</footer>