/*------------------------------------*\
    GENERAL
\*------------------------------------*/



/* CONTAINER */
.container{
  padding: 30px 0px;
  margin: auto;
  overflow: hidden;
}
/* END - CONTAINER */



/* TITTLES */
.tittle-0 {
  font-family: 'Poppins-Medium';
  font-size: 45px;
}

.tittle-1 {
  font-family: 'Poppins-Medium';
  font-size: 40px;
  line-height: 1.2;
}

.tittle-2 {
  font-family: 'Poppins-Medium';
  font-size: 18px;
}

.tittle-3,
.tittle-3-spacing {
  font-family: 'Poppins-Medium';
  font-size: 16px;
}

.tittle-3 {
  line-height: 1.5;
}

.tittle-4 {
  font-size: 16px;
  font-family: 'Poppins-SemiBold';
}

.tittle-3-spacing {
  letter-spacing: 1.33px;
}

.tittle-5{
  font-family: 'Poppins-Medium';
  font-size: 14px;
  letter-spacing: 1.17px;
}

.tittle-6{
  font-size: 30px;
  font-family: 'Poppins-Medium';
  line-height: 0.4;
}

.tittle-7 {
  font-family: 'Poppins-Medium';
  font-size: 10px;
  letter-spacing: 2px;
}

.tittle-8{
  font-family: 'Poppins-Medium';
  font-size: 21px;
  line-height: 0.57;
  color: #737373;
}

.tittle-9{
  font-size: 36px;
  font-family: 'Poppins-SemiBold';
}

.tittle-10 {
  font-size: 20px;
  font-family: 'Poppins-SemiBold';
  letter-spacing: 0.9px;
}

.tittle-11 {
  font-family: 'Poppins-SemiBold';
  font-size: 30px;
}

.tittle-12 {
  font-size: 10px;
}
/* END - TITTLES */



/* TEXTS */
.text-light-14 {
  font-size: 14px;
}

.text-light-16 {
  font-size: 16px;
}

.text-14 {
  font-size: 14px;
}

.text-light-14,
.text-light-16{
  line-height: 1.5;
  color: #8c8b8d;
}
/* END - TEXTS */



/* BACKGROUNDS */
.bg-0 {
  background-color: #ffffff;
}

.bg-1 {
  background-color: #f4f4f4;
}

.bg-2 {
  background-color: #0078A9;
}

.bg-3 {
  background-color: #333337;
}
/* END - BACKGROUNDS */



/* CORPORATIVE COLORS */
.color-0 {
  color: #ffffff;
}

.color-1 {
  color: #0079ab;
}

.color-2 {
  color: #1f4a77;
}
/* END - CORPORATIVE COLORS */



/* OTHER ELEMENTS*/
.carousel-image{
  background-color: #ffffff;
  border-radius: 8px;
}

.sidebar-steps {
  background-color: #0078A9;
  display:inline-block;
  margin-left:auto;
  margin-right:auto;
}

.button {
  height: 48px;
  border-radius: 8px;
  background-color: #0079a8;
  color: #ffffff;
  font-size: 14px;
  font-family: 'Poppins-Regular';  
  text-align: center;
}

.button:hover{
  background-color: #092AB5;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  border-radius: 15px;
  border-color: white;
  color: white;
  background-color: #0078A9;
}

.btn-selection-active {
  position: relative;
  display: inline-block;
  border: 2px solid #0078A9;
}

.btn-selection-active .badge {
  position: absolute;
  border-radius: 15px;
  top: -2px;
  right: 0px;
  background-color: #0078A9;
}

.btn-selection {
  position: relative;
  display: inline-block;
  border: 2px solid #e6e6ed;
}

.box-values-slider {
  border-radius: 9px;
  background-color: #f3f3f3;
  padding: 15px 20px;
}

::ng-deep {

  .custom-slider .ng5-slider .ng5-slider-bar {
    background: #e6e6e6;
    height: 11px;
    border-radius: 14px;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    top: -6px;
    width: 26px;
    height: 26px;
    background-color: #0A9BC9;
  }


  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: block;
    margin: -3px -3px;
  }

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 25px;
    font-size: 30px;
    font-family: 'Poppins-SemiBold';
    line-height: 0.4;
    text-align: right;
    color: #333337;
  }
}

.header-box-values-slider {
  font-family: 'Poppins-SemiBold';
  font-size: 14px;
  letter-spacing: 1.17px;
}

.button-negative{
  height: 48px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid #0079a8;
  color: #0079a8;
  font-size: 14px;
  font-family: 'Poppins-SemiBold';
  text-align: center;
}

.button-negative:hover{
  background-color: #0079a8;
  border: 1px solid #0079a8;
  color: #fff;
}

.result-container{
  box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.08);
  background-color: #ffffff;
}

.aplication-bar{
  height: 90px;
}

.rating{
  color: #ffc80a;
  font-size: 20px;
}

.card-service{
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.08);
}

.icon{
  font-size: 35px;
  color: #0A9BC9;
}
/* END - OTHER ELEMENTS*/



/*------------------------------------*\
    FOOTER
\*------------------------------------*/

.footer-copyright{
  background-color: #333337;
  color: #fff;
}

/*------------------------------------*\
    END - FOOTER
\*------------------------------------*/

.portada{
  background: url(/assets/img/parallax-2.jpg) no-repeat fixed center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100% ;
}

/*------------------------------------*\
    MEDIA QUERIES
\*------------------------------------*/

// Extra small devices (portrait phones, less than 576px)
@media only screen and (max-width: 575.98px) {
  
}

// Small devices (landscape phones, less than 768px)
@media only screen and (max-width: 767.98px) {

}

@media screen and (max-width: 991.98px) {

  .column-space-responsive-20{
    margin: 20px 0;
  }

  .column-space-responsive-50{
    margin: 50px 0;
  }
}

// Large devices (desktops, less than 1200px)
@media screen and (max-width: 1199.98px) {

}

/*------------------------------------*\
    END - MEDIA QUERIES
\*------------------------------------*/