<section class="container">
    <div class="row">
        <div class="d-none d-lg-block col-3">
            <div class="row">
                <div class="col bg-4 text-center">
                    <img class="img-fluid mt-4" width="95px" height="95px" src="/assets/img/asesori-logo-negative.png">

                    <ul class="timeline text-left text-uppercase tittle-19 color-6">
                        <li class="primero">
                            <summary [routerLink]="personal_data ? '/credit/results/identification' : null" [ngClass]="{'pointer color-1': personal_data, 'not-allowed':!personal_data}">Identificación</summary>
                            <p class="mt-4" [routerLink]="personal_data ? '/credit/results/identification' : null" [ngClass]="{'pointer color-1': personal_data, 'not-allowed':!personal_data}">datos personales</p>
                            <p [routerLink]="location_data ? '/credit/results/identification/location' : null" [ngClass]="{'pointer color-1': location_data, 'not-allowed':!location_data}">domicilio actual</p>
                            <p [routerLink]="contact_data ? '/credit/results/identification/contact' : null" [ngClass]="{'pointer color-1': contact_data, 'not-allowed':!contact_data}">contacto</p>
                        </li>
                        <li class="segundo">
                            <summary class="color-1 tittle-20">Información económica</summary>
                            <p class="mt-4 color-1">situación laboral</p>
                            <p [routerLink]="financial_data ? '/credit/results/economic/financial' : null" [ngClass]="{'pointer color-1': financial_data, 'not-allowed':!financial_data}">situación financiera</p>
                            <p [routerLink]="economic_data ? '/credit/results/economic/economic' : null" [ngClass]="{'pointer color-1': economic_data, 'not-allowed':!economic_data}">datos económicos</p>
                        </li>
                        <li class="tercero">
                            <summary [routerLink]="(personal_data && location_data && contact_data && economic_data && labor_data && financial_data) ? '/credit/results/my-credit' : null" [ngClass]="{'pointer color-1': (personal_data && location_data && contact_data && economic_data && labor_data && financial_data), 'not-allowed':!(personal_data && location_data && contact_data && economic_data && labor_data && financial_data)}">Mi crédito</summary>
                            <p class="mt-4" [routerLink]="(personal_data && location_data && contact_data && economic_data && labor_data && financial_data) ? '/credit/results/my-credit/summary' : null" [ngClass]="{'pointer color-1': (personal_data && location_data && contact_data && economic_data && labor_data && financial_data), 'not-allowed':!(personal_data && location_data && contact_data && economic_data && labor_data && financial_data)}">solicitud</p>
                        </li>
                        <li class="cuarto">
                            <summary>Solicitud lista</summary>
                        </li>
                    </ul>

                    <!-- <ul class="timeline text-left text-uppercase tittle-19 color-6">
                        <li class="primero">
                            <summary class="color-1-opacity">Identificación</summary>
                            <p class="mt-4 color-1-opacity">datos personales</p>
                            <p class="color-1-opacity">domicilio actual</p>
                            <p class="color-1-opacity">contacto</p>
                        </li>
                        <li class="segundo">
                            <summary class="color-1 tittle-20">Información económica</summary>
                            <p class="mt-4 color-1">situación laboral</p>
                            <p class="color-1-opacity">situación financiera</p>
                            <p class="color-1-opacity">datos económicos</p>
                        </li>
                        <li class="tercero">
                            <summary>Mi crédito</summary>
                            <p class="mt-4">solicitud</p>
                        </li>
                        <li class="cuarto">
                            <summary>Solicitud lista</summary>
                        </li>
                    </ul> -->
                </div>
            </div>
            <div class="row mt-3 mx-1">
                <div class="col-12">
                    <p class="tittle-10">Tienes la seguridad y confianza</p>
                    <p class="text-light-14">Para nosotros es primordial brindarte toda la seguridad posible y confianza que necesitas durante todo el proceso. Estamos avalados por</p>
                    <owl-carousel-o [options]="customOptions">
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-austro-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-biess-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-bolivariano-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-dinnersClub-188x100.png">
                            </div>
                        </ng-template>
                        <ng-template carouselSlide>
                            <div class="bg-0 mx-1 rounded">
                                <img src="/assets/img/financial-entities/banco-guayaquil-188x100.png">
                            </div>
                        </ng-template>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-9">

            <div class="d-none d-sm-flex row mx-2 mx-md-0 justify-content-sm-end pt-4">
                <div class="col-9 col-sm-3 px-md-0">
                    <progressbar [value]="percentage"></progressbar>
                </div>
                <div class="col-1 col-sm-1 text-right">
                    {{percentage}}%
                </div>
            </div>

            <div class="row mx-2 mx-md-0 justify-content-center pt-4">

                <div class="col-12 col-lg-8">

                    <h2 class="tittle-1 mb-2 d-none d-sm-block">Información económica</h2>
                    <p class="tittle-7 text-uppercase d-sm-none d-block color-1">Información económica</p>

                    <div class="row d-sm-none d-flex py-3">
                        <div class="col-10">
                            <progressbar [value]="percentage"></progressbar>
                        </div>
                        <div class="col-2 text-right">
                            {{percentage}}%
                        </div>
                    </div>

                    <p class="text-light-14 d-none d-sm-block">Con Asesori puedes acceder a créditos de forma más fácil y segura, por lo que necesitamos identicarte.</p>

                    <div class="row pt-4 pb-0 pb-sm-3 justify-content-center">
                        <div class="col-10 col-sm-4">
                            <p class="text-center text-sm-left tittle-21 color-1">Situación laboral</p>
                            <div class="mt-4 d-none d-sm-block separator"></div>
                        </div>
                        <div class="col-10 col-sm-4 d-none d-sm-block">
                            <summary [routerLink]="financial_data ? '/credit/results/economic/financial' : null" [ngClass]="{'pointer': financial_data, 'not-allowed':!financial_data}" class="tittle-21 color-7 text-center text-sm-left">Situación financiera</summary>
                        </div>
                        <div class="col-10 col-sm-4 d-none d-sm-block">
                            <summary [routerLink]="economic_data ? '/credit/results/economic/economic' : null" [ngClass]="{'pointer': economic_data, 'not-allowed':!economic_data}" class="tittle-21 text-center text-sm-left color-7">Datos económicos</summary>
                        </div>
                    </div>

                    <form [formGroup]="laborform">

                        <div class="row kudos-wrap my-5 my-sm-4">
                            <input type="radio" value="dependiente" id="dependiente" (change)="onSelectType($event)" formControlName="type">
                            <label [ngClass]="{ 'd-none d-sm-block': independenciaSection || mixtaSection }" for="dependiente" class="col-12 col-sm-4 my-3 my-sm-0">
                                <div class="text-center">
                                    <i class="icon-labor far fa-building"></i>
                                </div>

                                <div class="row mt-3 justify-content-center">
                                    <div class="col-1 pr-2">
                                        <i class="far fa-circle no-selected"></i><i
                                            class="fas fa-check-circle selected"></i>
                                    </div>
                                    <div class="col-5 col-sm-10">
                                        <p class="text-left text-sm-center">En&nbsp;Dependencia</p>
                                    </div>
                                </div>

                                <!-- <p class="pt-3 text-center "><i class="far fa-circle no-selected"></i><i class="fas fa-check-circle selected"></i>En&nbsp;Dependencia</p> -->
                            </label>

                            <input type="radio" value="independiente" id="independiente" (change)="onSelectType($event)" formControlName="type">
                            <label [ngClass]="{ 'd-none d-sm-block': dependenciaSection || mixtaSection }" for="independiente" class="col-12 col-sm-4 my-3 my-sm-0">
                                <div class="text-center">
                                    <i class="icon-labor far fa-user"></i>
                                </div>

                                <div class="row mt-3 justify-content-center">
                                    <div class="col-1 pr-2">
                                        <i class="far fa-circle no-selected"></i><i
                                            class="fas fa-check-circle selected"></i>
                                    </div>
                                    <div class="col-5 col-sm-10">
                                        <p class="text-left text-sm-center">Independiente</p>
                                    </div>
                                </div>

                                <!-- <p class="pt-3 text-center"><i class="far fa-circle no-selected"></i><i class="fas fa-check-circle selected"></i>Independiente</p> -->
                            </label>

                            <input type="radio" value="mixta" id="mixta" (change)="onSelectType($event)" formControlName="type">
                            <label [ngClass]="{ 'd-none d-sm-block': dependenciaSection || independenciaSection }" for="mixta" class="col-12 col-sm-4 my-3 my-sm-0">
                                <div class="text-center">
                                    <i class="icon-labor fas fa-user-tie"></i>
                                </div>

                                <div class="row mt-3 justify-content-center">
                                    <div class="col-1">
                                        <i class="far fa-circle no-selected"></i><i
                                            class="fas fa-check-circle selected"></i>
                                    </div>
                                    <div class="col-5">
                                        <p class="text-left text-sm-center">Mixta</p>
                                    </div>
                                </div>

                                <!-- <p class="pt-3 text-center"><i class="far fa-circle no-selected"></i><i class="fas fa-check-circle selected"></i>Mixta</p> -->
                            </label>

                        </div>

                        <div *ngIf="dependenciaSection">

                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="text" formControlName="companyName" class="form-control text-uppercase" required>
                                        <span class="floating-label text-uppercase">nombre de la empresa</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="text" formControlName="positionCompany" class="form-control text-uppercase" required>
                                        <span class="floating-label text-uppercase">cargo en la empresa</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="tel" currencyMask formControlName="monthlySalary" class="form-control text-uppercase">
                                        <span class="floating-label text-uppercase">sueldo mensual</span>
                                    </div>
                                </div>
                            </div>

                            <summary (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic" class="color-8 text-light-14"><i *ngIf="!isCollapsed" class="fas fa-angle-up pr-3"></i><i *ngIf="isCollapsed" class="fas fa-angle-down pr-3"></i>Activar más campos</summary>

                            <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">

                                <div class="row mt-0 mt-md-4">
                                    <div class="col-12 col-md-6 my-md-0 my-4">
                                        <div class="position-relative">
                                            <input type="tel" currencyMask formControlName="otherMonthlyValue" class="form-control" required>
                                            <span class="floating-label text-uppercase">otro valor mensual</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="position-relative">
                                            <input type="text" formControlName="valueDetail" class="form-control text-uppercase" required>
                                            <span class="floating-label text-uppercase">detalle del valor</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row my-0 my-md-4">
                                <div class="col-12 col-md-6 my-md-0 my-4">
                                    <ng-select appearance="outline" class="custom" [items]="provinces" placeholder="provincia*" formControlName="province" (change)="changeProvince($event)" [searchable]="true" bindLabel="name" [clearable]="false">
                                    </ng-select>
                                </div>
                                <div class="col-12 col-md-6">
                                    <ng-select appearance="outline" class="custom" [items]="cities" placeholder="ciudad*" formControlName="city" [searchable]="true" bindLabel="name" [clearable]="false">
                                    </ng-select>
                                </div>
                            </div>

                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="text" formControlName="address" class="form-control text-uppercase" required>
                                        <span class="floating-label text-uppercase">dirección</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="number" formControlName="phone" class="form-control text-uppercase" required>
                                        <span class="floating-label text-uppercase">teléfono de contacto</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="independenciaSection">
                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="text" formControlName="ruc" class="form-control text-uppercase" required>
                                        <span class="floating-label text-uppercase">Ruc</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="text" formControlName="sector" class="form-control text-uppercase" required>
                                        <span class="floating-label text-uppercase">sector</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="tel" currencyMask formControlName="averageSales" class="form-control" required>
                                        <span class="floating-label text-uppercase">promedio mensual
                                            ventas</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div *ngIf="mixtaSection">

                            <p class="tittle-5 color-9">Mixta- Dependencia</p>

                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="text" formControlName="companyName" class="form-control text-uppercase" required>
                                        <span class="floating-label text-uppercase">nombre de la empresa</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="text" formControlName="positionCompany" class="form-control text-uppercase" required>
                                        <span class="floating-label text-uppercase">cargo en la empresa</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="tel" currencyMask formControlName="monthlySalary" class="form-control text-uppercase">
                                        <span class="floating-label text-uppercase">sueldo mensual</span>
                                    </div>
                                </div>
                            </div>

                            <summary (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseBasic" class="color-8 text-light-14"><i *ngIf="!isCollapsed" class="fas fa-angle-up pr-3"></i><i *ngIf="isCollapsed" class="fas fa-angle-down pr-3"></i>Activar más campos</summary>

                            <div id="collapseBasic" [collapse]="isCollapsed" [isAnimated]="true">

                                <div class="row mt-0 mt-md-4">
                                    <div class="col-12 col-md-6 my-md-0 my-4">
                                        <div class="position-relative">
                                            <input type="tel" currencyMask formControlName="otherMonthlyValue" class="form-control" required>
                                            <span class="floating-label text-uppercase">otro valor mensual</span>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <div class="position-relative">
                                            <input type="text" formControlName="valueDetail" class="form-control text-uppercase" required>
                                            <span class="floating-label text-uppercase">detalle del valor</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="row my-0 my-md-4">
                                <div class="col-12 col-md-6 my-md-0 my-4">
                                    <ng-select appearance="outline" class="custom" [items]="provinces" placeholder="provincia*" formControlName="province" (change)="changeProvince($event)" [searchable]="true" bindLabel="name" [clearable]="false">
                                    </ng-select>
                                </div>
                                <div class="col-12 col-md-6">
                                    <ng-select appearance="outline" class="custom" [items]="cities" placeholder="ciudad*" formControlName="city" [searchable]="true" bindLabel="name" [clearable]="false">
                                    </ng-select>
                                </div>
                            </div>

                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="text" formControlName="address" class="form-control text-uppercase" required>
                                        <span class="floating-label text-uppercase">dirección</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="number" formControlName="phone" class="form-control text-uppercase" required>
                                        <span class="floating-label text-uppercase">teléfono de contacto</span>
                                    </div>
                                </div>
                            </div>

                            <p class="tittle-5 color-9 mt-5">Mixta- Independiente</p>

                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="text" formControlName="ruc" class="form-control text-uppercase" required>
                                        <span class="floating-label text-uppercase">Ruc</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="text" formControlName="sector" class="form-control text-uppercase" required>
                                        <span class="floating-label text-uppercase">sector</span>
                                    </div>
                                </div>
                            </div>
                            <div class="row my-4">
                                <div class="col-12">
                                    <div class="position-relative">
                                        <input type="tel" currencyMask formControlName="averageSales" class="form-control" required>
                                        <span class="floating-label text-uppercase">promedio mensual
                                            ventas</span>
                                    </div>
                                </div>
                            </div>

                        </div>


                        <!-- <div class="row my-4 justify-content-between">
                        <div class="col-4 d-none d-sm-block">
                            <button type="button" class="btn button btn-block">REGRESAR</button>
                        </div>
                        <div class="col-4 d-block d-sm-none">
                            <button type="button" class="btn button btn-block">&lt;</button>
                        </div>
                        <div class="col-4 d-none d-sm-block">
                            <button type="button" class="btn button btn-block" (click)="onSubmitLaborForm()">CONTINUAR</button>
                        </div>
                        <div class="col-4 d-block d-sm-none">
                            <button type="button" class="btn button btn-block" (click)="onSubmitLaborForm()">&gt;</button>
                        </div>
                    </div> -->

                        <div class="row my-5 justify-content-center">
                            <div class="col-12 col-md-4">
                                <button type="button" class="btn button btn-block" [disabled]="laborform.controls.type.value == null" (click)="onSubmitLaborForm()">CONTINUAR</button>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</section>